[2020-11-15 19:35] uvwxy opened #17 "Extend Graphics2D to Circular2DGraphics2D to improve memory consumption"
Currently we waste around 25% of buffer for the invisible corners around the 240*240 circular display.

Two places that need to be changed for this to work is:

- the constructor needs to change the width of the allocated chunks
- drawPixelPreclipped needs to be adapted to dynamic chunk sizes

[2020-11-15 19:42] uvwxy opened #16 "Get LVGL to render into Graphics2D"
As a developer I want to be able to develop UIs using LVGL on desktop to create example applications as well as for arduino to run on the smartwatch. developing on desktop first greatly improves the development time.

Proof of concept:

https://www.youtube.com/watch?v=_QIXN23bQsM

[2021-03-02 07:34] liyanboy74 opened #2 "Compiling for Windows"
I use VS Code in windows10 & installed PlatformIO,
Do I have to make certain settings before compiling the code?
for Example add some Define?
or add another lib?

**Errors:**
[code]

[2021-03-02 07:48] uvwxy commented on #2
Indeed, please copy the file `include/config.h.example` to  `include/config.h` and adapt the values according to your requirements. I will add this to the readme today.

[2021-03-02 09:17] liyanboy74 commented on #2
That's right, thank you.

[2021-03-03 06:34] #2 closed

[2021-03-09 08:59] liyanboy74 opened #4 "adcStart not declared"
Error:
`src/hal/power.cpp:59:17: error: 'adcStart' was not declared in this scope`

I think `adcStart()` Removed from new update [ESP32 Arduino Release 1.0.5 based on ESP-IDF v3.3](https://github.com/espressif/arduino-esp32/releases/tag/1.0.5)

[As shown here!](https://github.com/espressif/arduino-esp32/pull/3377/files/51184d7d8a48c9b0dd5ba0e9545f52aa51271cbf#diff-69413c45ba9a7c93f4bb2441433dd75b0

[2021-03-09 09:07] uvwxy commented on #4
Just for comparison what I have done so far:

Install Visual Studio Code
Install the PlatformIO Extensions

Open the source folder with visual studio code.

Are we doing the same things here? Maybe my visual studio code extension is using an older version os ESP-IDF.

[2021-03-09 09:10] uvwxy commented on #4
This is my build output

[code]

Could you try again with ESP-IDF 3.10004.200129 (1.0.4) ?

[2021-03-09 09:10] uvwxy commented on #4
I will update the code to work with ESP-IDF 3.3 / 1.0.5 though, in the next days.

[2021-03-09 09:54] liyanboy74 commented on #4
in file `.platformio\packages\framework-arduinoespressif32\cores\esp32\esp32-hal-adc.h` not found function `adcStart()` ,
but it's in `.platformio\packages\framework-arduinoespressif32@3.10004.210126\cores\esp32\esp32-hal-adc.h` file.
Definitely due to the update !

[2021-03-09 11:02] neofuturism commented on #4
@liyanboy74 I have the same issue, I'm an absolute beginner with Vscode, could you tell me how you reset your ESP-IDF version, Thanks

[2021-03-09 11:23] uvwxy commented on #4
@neofuturism @liyanboy74

I removed the getBatteryVoltage function (for now), please check if the latest commit works with the new platform. changing the ESP-IDF version is not the way forward.

[2021-03-09 12:07] liyanboy74 commented on #4
SUCCESS Build.

[2021-03-09 12:57] neofuturism commented on #4
thanks @uvwxy, build and upload was a success!
but now the display is dark and it reboots,
Here is the output of from the serial monitor.

[2021-03-09 14:29] neofuturism commented on #4
I have selected it through PIO configuration, but is there another way to select the right target?
Sadly, the exception decoder return nothing :/

<img width="1179" alt="Screenshot 2021-03-09 at 15 27 19" src="https://user-images.githubusercontent.com/10074688/110485697-34b75780-80ec-11eb-8425-c78af2955126.png">
<img width="1234" alt="Screenshot 2021-03-09 at 15 28 24" src="https://user-images.git

[2021-03-09 15:29] neofuturism commented on #4
ok cool, here's the output
PC: 0x4014b910
EXCVADDR: 0x00000008

Decoding stack results
![Uploading Screenshot 2021-03-09 at 16.29.10.png…]()

[2021-03-09 18:55] OneGneissGuy commented on #4
Can we lock the examples to a version ?

On Tue, Mar 9, 2021 at 7:29 AM Arnaud ***@***.***> wrote:

[2021-03-17 20:56] neofuturism commented on #4
Hello @uvwxy, I deleted the folder and reuploaded it,
everything works perfectly now :)

[2021-04-06 09:48] #4 closed

[2021-04-06 09:51] uvwxy opened #6 "BMA400 Interrupt Support"
Add support for BMA400 interrupts and use tap/tilt detection to wake from deepsleep.

[2021-04-06 13:41] uvwxy opened #7 "OswApp: OTA Updater"
For those who want to use OTA updates (which limits the available flash to 2MB instead of 4MB) , we need an OTA updater that connects to wifi (BTN3) if there is a wifi to connect to or starts a local wifi hotspot instead.

see lib-miniwifi for helper functions to join/create a wifi.

[2021-04-06 13:43] uvwxy opened #8 "Configuration: ESPConfigGen"
To have an easy way of configuring the smartwatch via WiFi, see if https://p3dt.net/espconfiggen/ can be used.

https://github.com/pauls-3d-things/espconfiggen

[2021-04-06 13:46] uvwxy opened #9 "CI/CD: build to verify pull requests compile"
Verifying pull requests would be easier to see if the code still compiles.

[2021-04-06 14:11] Apfelwurm commented on #9
I take care of this one :)

[2021-04-06 15:45] rasppliances opened #10 "Discord invite does not work"
Hello,

I had a few questions about what Mini IOT is and how to use it, but they aren't issues, so I didn't want to leave it here.  I tried following the Discord invite posted here (https://open-smartwatch.github.io/4_flashing/) and I was told that the invite was invalid.  I found out later that the invite starts with a 9 not a g so I was able to get in.

Rick

[2021-04-06 18:15] Apfelwurm opened #11 "Central OTA Service"
It would be great if it could be managed to build the firmware centrally (maybe with different app combinations) and ship OTA updates via a central service. The osw than could access it directly via wlan without the need of accessing the ofw from a browser or a smartphone. This feature should include firmware signatures or/and https support

[2021-04-07 07:44] uvwxy opened #14 "Improve Text Print in gfx_2d_rint"
Currently, [gfx_2d_print.h](https://github.com/Open-Smartwatch/lib-open-smartwatch/blob/19bdf63e99a21f225bed0dd934d7ef88a105a702/gfx_2d_print.h) only has very hacky helper functions to align text properly:

[code]

Suggestions to be added (idea from discord / maxe ):

[code]

It might also be practical to have a

[code]

[2021-04-07 11:08] max9901 opened #18 "ClearFont option in gfx_2d_print"
add a way to clear a custom font.

//to reset the font.
Graphics2DPrint::clearfont();

This is my first "larger" github project and i will use this fairly simple issue as a way to see if i get the gist of the workflow.

[2021-04-07 16:56] #10 closed

[2021-04-07 16:56] uvwxy commented on #9
I will test this as soon as I'm done with #6

[2021-04-07 17:00] uvwxy commented on #7
This sketch was provided by PhoenixLeader via Discord:

[ota.cpp.txt](https://github.com/Open-Smartwatch/open-smartwatch-os/files/6273300/ota.cpp.txt)

It should be
- adapted to use lib-mini-wifi (if possible)
- check if it works
- clean up the code?
- formatting

[2021-04-07 17:13] uvwxy opened #13 "App: Tide Estimation"
Ocean tide prediction is actually not trivial and involves the respective data set (tide coefficients) for a single location.

I have written a blog post about this a while ago:

https://p3dt.net/post/2019/03/10/predicting-tides.html

[2021-04-07 17:17] uvwxy opened #15 "mini ui library / util class"
Add a utility class / libary / .. to collect UI related draw utils

- labels for buttons
- centered time string
- date formatting

[2021-04-07 17:19] uvwxy commented on #15
The first implementation should be inside https://github.com/Open-Smartwatch/lib-open-smartwatch

Moving it to a separate repo can be discussed/done later.

[2021-04-07 17:21] uvwxy commented on #16
What's the status @VedantParanjape ?

[2021-04-07 17:22] uvwxy commented on #17
I need help: it works, but as soon as the memory is freed it crashes.

My assumption is that the chunk size calculation is not correct and it writes across the chunk arrays boundary

[2021-04-07 17:35] uvwxy commented on #18
I re-opened this ticket. I will close it once it has been merged into the source code. Please create a pull request against lib-opensmartwatch

[2021-04-07 17:48] max9901 commented on #18
I decided to leave it out because u can just use

Graphics2DPrint::setFont(NULL).

Which is not as user-friendly for a beginning Arduino user but I thought that's probably not our target audience anyway with the lib?

[2021-04-07 17:49] max9901 commented on #18
Which btw doesn't guarantee that the cursor is put in the right place I think, but we can probably merge things like this into a rewrite of the Graphics2DPrint class anyway?

[2021-04-07 17:53] max9901 commented on #15
Shall we add these utilities directly into the  "Graphics2DPrint" class ? doesn't seem like a lot of extra features.

And do want automatic centering on the whole watch or do we want to center around the position of the cursor only which makes it very easy to get the center of the screen anyway?

[2021-04-07 20:54] VedantParanjape commented on #17
@uvwxy can you add relevant LOC here ?

[2021-04-07 20:55] VedantParanjape commented on #16
@uvwxy I didn't work on this as smartwatch, but I am very comfortable with lvgl now. Here's my code: https://github.com/Open-Authenticator/open-authenticator-app

I will try to make a POC soon.

[2021-04-08 09:18] uvwxy commented on #15
Yes I'd like to see these utilities directly in `Graphics2DPrint`.

Centered around the cursor. This way we can place the cursor, and then select the alignment (left, right (default), centered).

[2021-04-08 09:19] uvwxy commented on #18
Ok, we can add this with #15

[2021-04-08 09:19] #18 closed

[2021-04-08 09:25] uvwxy commented on #17
https://github.com/Open-Smartwatch/lib-open-smartwatch/blob/master/gfx_2d.h

Lines:
* in `enableBuffer()` -> the `if(isRound)` branch
* in `drawPixelClipped()`-> the `if (isRound && isInsideChunk(x, y))` branch
* `disableBuffer` is where the exception flies

I'm not sure where exactly I'm going wrong. Probably have been staring at it for too long and don't see it anymore.

[2021-04-08 09:27] uvwxy commented on #16
Looking forward to the discussion on discord later. Would be great if you could provide the direction how to adapt to use the lvlg code in a practical way!

[2021-04-09 09:01] VedantParanjape commented on #17
What does this do? I read the code, and what you are doing is kind of an array of pointers which point to an array of pixel rows ?

Can you do something like allocate a single big buffer and then use arithmetic to find pixel positions in the linear array ?

[2021-04-09 09:05] VedantParanjape commented on #16
Yes, lvgl has a lot of boiler plate. But thing is it runs on a single thread, and you need to use their lvgl_task_run to run tasks handling widgets. You can't actually call functions which take time inside lvgl loop, or else the UI freezes. What I did was write a event handler in esp-idf, check here: https://github.com/Open-Authenticator/open-authenticator-app/blob/main/main/gui_event_handler.c

S

[2021-04-09 09:59] uvwxy commented on #17
The chunking is part of the unoptimized version because the esp32 does not provide the option to allocate arrays of an arbitrary size (even if enough memory is free).

this optimisation is only an approximation, and not optimal, but still achieves to use 20% less memory, while still using chunks to be able to allocate everything

[2021-04-09 10:00] uvwxy commented on #16
how/where do you handle full screen buffering?

[2021-04-09 14:37] max9901 opened #19 "Initialize the framebuffer ?"
Shalle we change malloc to calloc ?

or initialize the buffer to 0 imediatly when creating the buffer.

[2021-04-09 14:48] VedantParanjape commented on #17
I can do this on esp-idf, idk why it doesn't work with arduino

[2021-04-09 14:51] VedantParanjape commented on #16
From here, this function

https://github.com/Open-Authenticator/open-authenticator-app/blob/922acd76e1100d7369b28fa62c5de50bdcee0947/main/lvgl_gui.c#L325

[2021-04-09 18:37] Kokofruits1 opened #20 "Stopwatch UI"
![Untitled 1](https://user-images.githubusercontent.com/79061573/114225330-e01d2b80-997a-11eb-8b06-dccdee4ddd8f.jpg)

This is an idea I have of what a stopwatch UI could look like. I think it needs a bit more tweaking when implementing, like an accent color somewhere and a redesigned flag symbol, but as a base I think it's okay. I also don't know what would be the behavior when it reaches a full h

[2021-04-09 18:45] Kokofruits1 commented on #20
![Open_smart_watch_stopwatch_design](https://user-images.githubusercontent.com/79061573/114226755-aea55f80-997c-11eb-9e1b-864752b34d11.jpg)
Noticed that spacing is uneven between saved values.

[2021-04-09 18:46] uvwxy commented on #20
Maybe we should move the icons to the locations where the buttons are?

[2021-04-09 19:11] uvwxy commented on #6
Enabled Steps on BMA int 1, and Single Taps on BMA int 2.

Wakup is now tap to wake.

[2021-04-09 19:11] #6 closed

[2021-04-10 06:27] nithinkodadhavadee commented on #20
@uvwxy My PCB is on the way, can I work on this? Maybe something for me to start with.

[2021-04-10 08:00] uvwxy commented on #20
@nithinkodadhavadee of course you can !

if someone else wants to work on this at the same time is fine for me too. the more apps and variations we have for this platform, the better it becomes.

[2021-04-10 08:13] occ2018 opened #22 "Rolling proximity identifiers"
With both bluetooth and wifi can you please somehow build https://en.wikipedia.org/wiki/Exposure_Notification inside these watches. Then one can have a nice dongle that can be used for many corona warning apps.

your work is great - open - and inspiring. Thanks

[2021-04-10 08:58] Kokofruits1 commented on #20
I think that the icons could be next to the buttons at the start and when there are no saved values. That would be more intuitive when using it the first time. When there are saved values I think the user would already know what each button does. The icons would just create a space in which nothing could be shown with this design. Putting the icons at the side used less space, so I went with that.

[2021-04-10 12:22] Kokofruits1 commented on #20
![Open_smart_watch_stopwatch_design](https://user-images.githubusercontent.com/79061573/114269398-8286ee80-9a0f-11eb-8aee-d57b93500922.jpg)

I moved buttons close to where the buttons could be (like you suggested).
I made icons smaller and further away from divider when they are to the side (like discord user culture suggested).
I also removed the large gap between the last and the other saved val

[2021-04-10 16:07] Apfelwurm commented on #9
Seems to work (or dont work when it shouldnt) :)
https://github.com/Open-Smartwatch/open-smartwatch-os/pull/21

[2021-04-10 20:28] crazycaleb2008 opened #23 "Fitness tracking"
There should be a screen that shows steps, calories burned,goals and other things fitness related. 🤷‍♂️

[2021-04-10 20:34] uvwxy commented on #23
Does anyone know some good average values for kCal / step ?

[2021-04-10 20:35] crazycaleb2008 commented on #23
We were talking about it on the discord

[2021-04-10 20:38] matti04 commented on #23
Some results of our previous discussions:
-Calculate speeds with steps/second
-Enter step length for 3 different speeds in the configuration file
-Use an averaged value
-https://www.insider.com/how-many-steps-a-day-to-lose-weight
-GPS edition might even take the height difference into account, assuming that is possible
-Could be difficult to run it in deep-sleep mode

[2021-04-10 21:02] crazycaleb2008 commented on #23
![BE9BDFD5-8743-4BB5-8E03-645A6039C1AB](https://user-images.githubusercontent.com/82289282/114284514-56667000-9a05-11eb-80ab-a1fe079f2465.png)

Heres a concept i made. Had to do it on my phone so dont judge me 😂

[2021-04-11 14:20] cawolfkreo commented on #23
I saw the comments about this screen on the discord and tried to help with the design of @crazycaleb2008 and I came up with these designs:
![imagen](https://user-images.githubusercontent.com/11929473/114307553-c3c9dd80-9aa5-11eb-9b63-f86fa4c7b166.png)
The idea was to distance ourselves a bit from the apple watch by using semicircles instead of a full circle. The data this design needs is:
* **Step

[2021-04-11 14:58] uvwxy commented on #23
Currently from those only works:
- steps counter

Regarding Distance walked:
- the BMA400 supports activity recognition: still, walking, running
- depending on activity mode walking and running one could use two average step lengths to estimate the distance run. allthough this will be error prone, it might give an interesting estimation.
- Average walking step length could be estimated with "For w

[2021-04-11 15:06] uvwxy commented on #19
I will try this out.

[2021-04-11 15:46] uvwxy commented on #9
Yes it does :). Thank you!

[2021-04-11 15:46] #9 closed

[2021-04-11 17:06] cawolfkreo opened #24 "Tamagotchi-like game app"
# Do you remember Tamagotchi?
Because I do and I think it would be cool to have a similar game for the open smartwatch. The main idea is to have a virtual pet that moves around the screen and "lives" inside of the watch. Every certain amount of days the creature might "grow" and become a new one based on it's stats. Usually the stats are things like:
 * Intelligence
 * Discipline
 * Strength
 * Fo

[2021-04-11 17:14] uvwxy commented on #24
I added it to milestoen Version 3.0. Ignore the date, as this is a majore feature :).

thank you for the excellent issue!

[2021-04-13 10:19] realrk95 opened #27 "Feature requests and contrib"
So eventually, this app will need support of a companion app to sync data to the cloud or to a smartphone.

I have a few suggestions in this regard:

1. Creating a standard format in which the data can be converted and loaded  or streamed into apps to keep a historical track.

2. Companion app should have features such as ability to provide OTA updates directly to the user. This will require some

[2021-04-13 20:10] cawolfkreo opened #28 "Compass app or service to add to GPS maps"
# Why have a compass?
Some people would like to go hiking, camping or generally go outdoors and far from cities and urban areas, having a compass and a map might help with exploration and other situations that might arise, plus it's usually a cool concept to have on a smartwatch.

## The app:
Similar to the screenshots below, having an application that displays a compass that it also updates in re

[2021-04-13 21:04] uvwxy opened #29 "Auto-Build osw_wrap.cxx"
See: https://github.com/Open-Smartwatch/open-smartwatch-os/pull/26

swig -c++ -lua -I../../include -I../../lib/Arduino_GFX osw.i

[2021-04-13 21:05] uvwxy commented on #29
@Apfelwurm this might be something for you, if you have the time

Thanks in advance :)

[2021-04-13 22:01] SeanReg commented on #27
At the moment I made this Basic Android App to test the Bluetooth LE Service. App connects to device and is able to send Android Notifications to the watch. Could be reimplemented in cross-platform framework if needed

https://github.com/SeanReg/open-smartwatch-android-companion

[2021-04-13 22:47] Apfelwurm commented on #29
Is now on my todo list :)
This should be easily possible via a prebuild/postbuild script within pio.

[2021-04-13 23:05] max9901 opened #30 "Brightness"
increase / decrease brightness hal functions don't actually do anything.

[2021-04-17 20:07] #30 closed

[2021-04-19 14:01] ffenix113 opened #35 "Possibility to develop without the board?"
Hello,

This seems like an awesome and interesting project, and I personally would be interested to play around and maybe even contribute.

But it would be nice to know if development and testing(at least somethung) can be achieved without having a board? For example with Qemu or similar.

[2021-04-19 14:07] euanlc commented on #35
Hi, if you look at paul's instagram he has a post where he appears to be using an emulator. If you want information about that from him your best bet is to join the [discord](https://discord.gg/9QQuv6ta) to talk to him directly.
hope this helps,
euan

[2021-04-19 14:07] cawolfkreo commented on #35
There is an amulator of sorts you can use as @euanlc mentioned, you can find it here: https://github.com/Open-Smartwatch/lib-open-smartwatch

[2021-04-19 14:23] zbot473 commented on #35
Someone would have to write an entire emulator with bindings to methods that fake or use the host's Wi-Fi/Bluetooth/Accelerometers/GPS/SD/Buttons

[2021-04-20 16:39] Apfelwurm commented on #29
I think this one could be closed :)

[2021-04-20 17:30] mmoneyron opened #36 "Firmware problem at runtime"
The firmware is building and flashing sucessfully, but when the RESET button is pressed, the new firmware is used extremely briefly, then it revert back to the old one.

For example, the only change I made is to change the color or the second clock hand from red to blue.
In that case, a blue line is showed, but immediately replaced by the red one.

[2021-04-21 06:43] #29 closed

[2021-04-21 12:51] mmoneyron commented on #36
I just figured it out. On VSCode, everything works perfectly.
The commands to compile from command line are missing the upload parameter

[code]

[2021-04-21 12:51] #36 closed

[2021-04-22 10:09] Shadow8472 opened #39 "App Idea: Remote Control"
I can see me needing some sort of remote control app for robotics some years down the line. There's no reason it can't be made open enough for other applications. (Sorry, not sure how to add tags)

[2021-04-24 09:16] ffenix113 commented on #35
Thank you for the info.

I will check out the graphics repo.

[2021-04-24 09:16] #35 closed

[2021-04-25 10:41] judomat opened #43 "rtc_module.c:155 (rtc_gpio_deinit):RTC_GPIO number error"
#### When uploading the latest version of open-smartwatch-os I get this exception:
[code]
And when I try to connect to the WiFi my serial monitor crashes with this exception:
[code]
And the watch restarts.

I saw that there is a closed issue similar to this one: #4
That issue was solved by changing the platform version from 3.1 to 3.0.
I have tried platform version 3.2, 3.1 and 3.0 but I always ge

[2021-04-27 15:21] uvwxy commented on #43
Hi @judomat

I can fix the first part. Regarding the second, I think this is an issue with your notebook/USB port:

https://esp32.com/viewtopic.php?t=2595

googling `raise SerialException('read failed: {}'.format(e)) serial.serialutil.SerialException: read failed: [Errno 6] Device not configured` will show you more threads/posts/... going deeper into that issue.

[2021-04-27 15:22] uvwxy commented on #43
feel free to discuss this on discord https://discord.gg/9DK5JY6 with us :)

[2021-04-27 15:31] #43 closed

[2021-04-28 13:10] rasppliances commented on #27
Is there an APK for this?  What has to change in the OSW software for this to work?

[2021-04-28 13:22] rasppliances opened #49 "Twist wrist to turn on display"
Hello,

I was looking at the accelerometer to see if I could add a twist wrist to turn on display feature like you see in the "Major Brands", but I'm not sure it can be done the way the OSW OS is written.

I noticed that in main.cpp, if the app is the watchface app, and the timeout interval hits, it puts the system into deep sleep with

hal->deepsleep()

And that in turn eventually calls the line

[2021-04-28 13:26] rasppliances opened #50 "Vibration"
Hello,

Has anyone looked into adding vibration? I know any motor would add size to what is already a good sized watched, but if you don't have vibration, getting notifications on your watch won't help.

I think that a small transistor could be added to the circuit board, hooked up to an open GPIO (assuming there is one), and used to control vibration through PWM.  We could add an osw_vibration li

[2021-04-29 06:43] uvwxy commented on #50
Yes, I'm looking into adding a vibration motor to the GPS edition. The PCB will be bigger, so there is room for one.
I'll have to give up the second interrupt pin from the accelerometer to do this though :).

[2021-04-29 06:45] uvwxy commented on #49
This can be done with proper configuration of the BMA400 sensor and responding to the interrupts. This way the CPU can remain in deep sleep to conserve power.

The same way the step counting is done by the BMA400 itself. the number of steps is read by the CPU at runtime form the BMA400 via I2C.

[2021-04-29 06:47] uvwxy commented on #39
For simple HTTP calls you can already use

[code]

I'll close this issue as it's not a bug or a specific request. As the project is open source the best approach for a custom remote would be to write your own. Feel free to discuss this on discord if you need more input on this.

[2021-04-29 06:47] #39 closed

[2021-04-29 06:48] uvwxy commented on #28
I will add a compass with the next GPS edition.

[2021-04-29 06:53] uvwxy commented on #27
@rasppliances This is still in a proof of concept phase. The short answer is: a lot has to be done to fully support this. Also: keeping bluetooth on drastically reduces the available memory on the watch, and the screen can not be fully buffered, reducing the frame rate. It's nice to have a starting point provided by @SeanReg , but I assume it's still very early in this project to see this being im

[2021-04-29 06:53] #27 closed

[2021-04-29 10:30] rasppliances commented on #49
Interesting.  I'm going to look into that.  Not that I'll be able to do anything about it, but I'm going to look.  Thanks for the reply. Should we close this issue?

[2021-05-01 20:38] Simonmicro commented on #15
Are there any class hierarchy ideas already? As far as I see there is only the `Graphics2DPrint`, which just extends the `ArduinoGraphics2DCanvas` by the text functionalities? So what about some kind of (button, text (size, positioning), display (for relatively positioning these objects)) classes?

[2021-05-01 21:05] Simonmicro opened #53 "Rework watchface UI"
Here just some ideas - I would be happy to implement them!
* Analog/digital faces
  * Digital with different designs (maybe even showing dates?!)
* Configurable colors
* More prominent status-icons support (like wifi connected? ble? -> later on maybe media (on the possibly connected device) playing?)
* Primarily configured on compile-time, anything else will need something like a storage HAL and r

[2021-05-01 21:40] Simonmicro opened #54 "Configuration Abstraction + Configuration UI"
This should store minimal key - value pairs using `Preferences.h`.

Store some things like:
* Last open app (so when we crash again, the user will not notice too much)
* Last connected BLE device (to reconnect on boot)
* App data? Stopwatch stuff?
* Boot count & flash write counts
* Storage version (if version increase, wipe storage on boot & populate with defaults)

All keys are handled by a enum

[2021-05-02 08:47] max9901 commented on #15
As far as i know not! if u have ideas i'm happy to help implement them!

[2021-05-02 13:27] uvwxy commented on #54
Step 1: Configuration Abstraction
- wrap Preferences.h (ESP32 lib)
- define which keys exist (typing versus config.json) (in a single place, e.g. name/type/default inside a header)
- examples how to use it

Step 2a: Configuration UI
- implement functions to parse/generate data.json (POST/GET)
- implement functions to generate config.json (GET)

Step 2b: Configuration UI
- include bundle.js/css/ind

[2021-05-02 14:55] xasz opened #55 "General Conception of Apps/Menus and usage design."
As i follewed and saw on Github there are many people including me testing around with menues and diferrent types of apps/watches and app switching.

I would love to setup a "design" language for all of us and an technical one as well.

### Current Concept:
We have Apps. Everything is a App and can to whatever it wants to.
Btn1 is the app-switch by long press and no app can change that.

### My Id

[2021-05-02 20:54] Simonmicro commented on #54
Okay, I finished step 01 - see here: https://github.com/Simonmicro/open-smartwatch-os/tree/feature/nvsConfig
The `config.json` should be able to use the `OSW_CONFIG_*` defines (inside an other one) to be "generated" during compile-time later on. I also created an other branch `debug/heapy` to further investigate the system crashes - for now no results.

[2021-05-02 23:29] Simonmicro commented on #54
And here are the `#define`s for the `config.json` to support the expansion of the config keys (just a quick demo program):
[code]

So basically any dev just has to add a new key "at the top" (`OSW_CONFIG_`) and, if he wants to also expose it via the config ui, also append it to the define for the respective panel (`ALL_SECTIONS`).

When the ui is written and the types final, we could also add the

[2021-05-03 06:33] xasz commented on #55
I would be happy take this approach on me. Making the abstrahation and Code one or Tel example/Core Launcher and Update the current Apps/faces to the nee concept If possible.

[2021-05-03 07:53] #14 closed

[2021-05-03 07:53] uvwxy commented on #8
Will be done with #54

[2021-05-03 07:53] #8 closed

[2021-05-03 10:42] Simonmicro opened #56 "Make LUA support optional"
We have currently very limited resources running on the watch and there are currently no (?) apps using lua for this os. So I would like to see a way to `#define` it out via the config. Later on we could re-add it, but for now this should help us focus on the core problems: Random crashes & and a stable os.
This would also remove the need to install swig always when compiling the os, as only users

[2021-05-03 11:19] Simonmicro commented on #54
Also a quick side-note / request. Could you extend the js part of the config ui to request _two_ json files from the esp? One defining the ui (id, name, help, type and default value / html-placeholder) and the input fields, which is static build using the defines ↑ and can therefore kept inside the program code (and must not be loaded to the ram at any point) and an other json, which contains the

[2021-05-03 16:37] uvwxy commented on #56
working on this. will add a new env:pico32_LIGHT_EDITION_PREBUILD_LUA if you want to rebuild the cpp via swig.

[2021-05-03 16:43] #56 closed

[2021-05-04 16:48] Simonmicro commented on #15
Okay, before we dive further into the implementation lets establish some ground "rules"/concepts I would like to follow:

* The UI & layouts should be only configured on loading the app or starting the system, during rendering should be no support to move elements. This way we can make many things more static and do not need to recalculate the alignment during rendering very often.
* I would like

[2021-05-04 20:02] max9901 commented on #15
I like this idea and i think it could be beneficial. I do however not really get how u propose to build it.

Just a concern on the memory foodprint tbh. How would u propose to store all the layer information ? It is the drawables std:array right? What is the amount of memory a simple "hello world" string would cost as drawable ?

Also main.cpp needs to preform the render which means connecting the

[2021-05-04 22:00] xasz commented on #55
I am working hard on a really basic but providing all functionality launcher.
I have a working copy on my branche and a small updated description in the Readme.
https://github.com/xasz/open-smartwatch-os/tree/LauncherTest

[2021-05-05 00:17] Simonmicro commented on #15
Ouch - give me a hint where I lost you :grinning: . I plan to use as much compile-time optimization as possible. So e.g. the icons `draw()` just has a long `if-else` chain going through all the enum possibilities, so no need to have a separate thingy for the icons. The ui elements could be part of the apps class instances itself, so they are created on load (`new`) and cleaned up on switching (`de

[2021-05-05 20:18] Simonmicro commented on #54
TODO for me (also the functions):
[code]

[2021-05-06 17:24] rasppliances commented on #49
I've actually got this working.

In sensors.cpp, at line 175 I added

` rslt = bma400_get_sensor_conf(accel_setting, 3, &bma);
  bma400_check_rslt("bma400_get_sensor_conf", rslt);

  // get current state of 0x1F register
  uint8_t regSet = 0;
  rslt = bma400_get_regs(0x1f, &regSet, 1, &bma);
  bma400_check_rslt("bma400_get_regs 0x1f", rslt);

  if (rslt == BMA400_OK) {
    // we were successful ge

[2021-05-06 18:00] rasppliances opened #65 "Step counter does not reset at the end of the day"
The step counter never resets.  It should reset every day at midnight.

Another thing about the step counter...

The target is hard coded at 360.  It would be good if we could put the default value of something more realistic like 10,000 or 5,000 in config.h.  Additionally, if we store the target in the flash memory using Preferences library, we could also write an app to adjust the goal right on

[2021-05-06 18:03] rasppliances opened #66 "No charging indication"
There's no indication of the watch being plugged in to charge.  I think we could setup an interrupt to wake the watch up when the power is plugged in, then adjust main.cpp to check what interrupt woke it up, and if it's the watch being plugged in, go to a charging animation app instead of the watch face app.  The charging app wouldn't even have to be in the cycle of apps normally shown.  The app c

[2021-05-06 18:13] uvwxy commented on #55
Result from the discord discussion:

[code]
<img width="832" alt="Screenshot 2021-05-06 at 20 12 41" src="https://user-images.githubusercontent.com/930238/117345933-6ad44600-aea7-11eb-918b-26f55de1dc74.png">

[2021-05-06 18:19] uvwxy opened #67 "Add improved button handling methods"
- btnHasGoneDown(BTN_X)
	- btnHasGoneUp(BTN_X)
	- btnIsDownSince(BTN_X)
	- btnIsUpSince(BTN_X)
	- btnIsLongPress(BTN_X)

[2021-05-06 18:20] uvwxy commented on #67
@xasz

[2021-05-06 18:22] uvwxy commented on #66
Correct. we don't have that information hardware wise :)

(But we could guess from a value that says "not full yet")

[2021-05-06 21:54] Simonmicro commented on #54
It is done (Step 1 & 2a), even by switching to a whole new approach, the footprint stays reasonable:
[code]

[2021-05-06 21:59] rasppliances commented on #66
Isn't there

`hal->getBatteryRaw()`

in power.cpp that could be used?

[2021-05-07 06:52] xasz opened #71 "No autosleep while buttons pressed"
I often get confused by the watch going do deep sleep if i want to switch a face.
I am not sure if i just press too long and it is already handled or i just get the perfect timing of deep sleep auto timer is triggered while i hold down the button, when i want to switch a face :)

[2021-05-07 16:42] rasppliances commented on #66
Here's what I've found out by RTFM

- You can wake up the esp32 via a GPIO on ext0 or ext1
- You can only tell which GPIO pin woke you up on ext1
- ext1 supports GPIO32-GPIO39
- STAT_PWR that we can use to see if the charger got plugged in is on GPIO-15
- That means that the only way (that I can see) that we can get the watch to wake up when it is plugged in is to either rework the pcb so the STAT

[2021-05-08 08:42] uvwxy commented on #71
Does my latest change regarding the overlay drawing a frame until the app switch long press is detected help?

[2021-05-08 08:42] uvwxy commented on #67
I merged your pull request. thank you !

[2021-05-08 08:42] #67 closed

[2021-05-08 08:43] uvwxy commented on #66
What about the LED?

[2021-05-08 15:15] rasppliances commented on #66
@uvwxy I printed out the case and put the watch in that, and I can't see that LED.  We'd need a light pipe of some sort to see it, I think.

[2021-05-08 18:49] Simonmicro commented on #54
Oh yeah, I've got still the bluetooth compangion enabled... But okay - we'll see our usages at the end :P

[2021-05-08 18:54] uvwxy commented on #54
<img width="1226" alt="Screenshot 2021-05-08 at 20 48 58" src="https://user-images.githubusercontent.com/930238/117550240-88d4ae80-b03f-11eb-9cb8-fa8de1a0e198.png">

see the develop branch. the saving step does not work yet.

[2021-05-08 22:07] uvwxy commented on #54
I'm done with part 2b, instead of the time from web app I added it as a separate app at the end.

Anyone interested in cleaning this up a little bit, and do the part 3) ? 😅

[2021-05-09 16:02] mat942 opened #73 "Set time manually"
Given some hardware boards have wifi issues, an option to set the time manually would make them usable.

[2021-05-09 19:01] Simonmicro commented on #54
I think we should move this into a seperate wifi service, as we have now multiple apps using wifi. Also this could handle reconnections or ap creations on failures -> what do you think? If you agree, let us create an issue for that.

[2021-05-09 19:02] Simonmicro commented on #54
Also: Is there any way to create a section with just some static text? We could add there the contributor section or at least build information.

[2021-05-10 00:17] Simonmicro commented on #54
- [ ] Caching. I've noted practically every app/function, which are getting called regulary, already do this internally. Lets unify that.

[2021-05-10 11:59] Simonmicro opened #77 "WiFi service"
- [ ] when the wifi service exists (and it creates an ap on missing connection) we can also remove any need to preconfigure the config.h and make its use optionally
- [ ] auto-ntp (when connected to wifi, auto-pull ntp; should be integrated into the service ↑)
- [ ] if the wifi is not connectable -> create a wifi hotspot
- [ ] generate wifi password dynamically (once ;) ) and display on screen

Th

[2021-05-10 13:55] rasppliances commented on #66
@Simonmicro I'm more thinking of way to tell the watch is charging or 100% charged when it's sitting on my desk plugged in and not being used.  Having said that, I don't think an overlay is a bad idea at all.  It could even be as unobtrusive as the already existing battery/plug graphic being changed to show a battery that is charging somehow.

[2021-05-10 14:09] rasppliances commented on #66
@Simonmicro Another thought.  I was originally thinking that it would be activated when plugged in while not "on".  But, as I found, that interrupt can't be determined when the watch wakes up, so my solution above was a work around for that limitation.

[2021-05-11 05:17] richtepa commented on #73
If no one is working on it, I'd love to start doing that part tonight.

[2021-05-11 13:58] #55 closed

[2021-05-11 14:02] xasz opened #79 "Reset gfx on App change"
I run into some problems with apps on messed up positionioning, font, size, color.
After a ton of stupid testing i figured that my code works fine, but if i change the app and come back to mine one, some stuff like alignment and font size got messy.
We should add an gfx->resetToDefault() and the appswitcher should call that before an app switch happens, so every app has the same starting point.
Ot

[2021-05-11 14:11] #71 closed

[2021-05-12 14:14] Simonmicro commented on #66
Hmm, I'll further participate in this, when I finish up my other ideas & tasks. Just letting you know, I'm happy to further work on this, but not right now :P

[2021-05-12 14:28] rasppliances commented on #79
I think that a two prong approach would be best to this.  First, as you said, reset the graphics, but only if that doesn't perform a performance hit.  Second, make it a best practice to developers that nothing is set to the default and that they should make a habit of setting whatever values they need/expect before executing their code.  Using your font size as an example, best practice would be t

[2021-05-12 15:02] xasz commented on #79
I really do agree only to a small part.
I think it is best practive and well, it is the need, for the developer to set his settings for size, font and whatever.
But u cannot tell the developer he always have to reset all the settings manual. Which for first: Does require alot of copy and paste code from one app to another and second it is not upgrade compatible.

Lets say you have some Text Method

[2021-05-12 21:57] xasz commented on #49
If you have it working you can do a pull request :)

[2021-05-12 23:44] rasppliances commented on #49
I've never done that before, so I'm not sure I did it right, but I think I made a pull request with my changes.

[2021-05-13 15:38] uvwxy commented on #73
I've merged @richtepa's pull request (Thank you!)

I will improve it a little bit (structuring and allow decrements as well)

[2021-05-13 16:06] #73 closed

[2021-05-13 16:35] uvwxy commented on #79
I'm working on this

[2021-05-13 16:36] uvwxy commented on #53
We have more than analog watch faces. I think we can add more faces as they appear in the wild ;)

I'm working on configurable colors now.

[2021-05-15 20:50] max9901 commented on #19
it is fixed when u change:

`Graphics2D::enableBuffer()`

 `buffer[i] = (uint16_t*)malloc(width * chunkHeight * sizeof(uint16_t));`
 into
` buffer[i] = new uint16_t[width * chunkHeight]();`

[code]

[2021-05-16 08:59] max9901 commented on #79
I'm a fan of adding a reset function into the library we can call on watch face switch. (And optionally let this restore to settable default values so developers can use a certain style across all there faces.)

If u guys agree i can implement it.

[2021-05-16 11:07] max9901 opened #89 "Change the drawThickLine function"
Can we change the following in this function:

`void drawThickLine(int32_t x1, int32_t y1, int32_t x2, int32_t y2, uint8_t radius, uint16_t color)`

all entries of:
`drawCircle(x, y, radius - 1, color);`
to
`fillCircle(x, y, radius - 1, color);`

[2021-05-16 13:40] uvwxy commented on #89
fixed with commit 900f9b6

[2021-05-16 13:40] #89 closed

[2021-05-16 13:42] uvwxy commented on #79
I fixed this with abb2080 and 313d413

[2021-05-16 13:42] #79 closed

[2021-05-16 13:43] uvwxy commented on #66
The charging indication is covered by a hardware LED.
If you come up with a sw solution that manages to correctly indicate this, feel free to create a pull request.
will close the issue for now :)

[2021-05-16 13:43] #66 closed

[2021-05-16 13:44] #53 closed

[2021-05-16 13:47] uvwxy commented on #19
Does this have any performance drawbacks?
Is it really required, especially as all/most apps do a `hal->gfx()->fill(...)` at the beginning?

[2021-05-16 13:48] uvwxy commented on #11
I think this ticket is ahead of its time, and not required at the moment.

[2021-05-16 13:48] #11 closed

[2021-05-16 13:48] uvwxy commented on #16
No one seems to be actively working on this.

[2021-05-16 13:48] #16 closed

[2021-05-16 13:50] max9901 commented on #19
No but i was hoping to get an initial face startup to go a little faster. By allowing for a basic first render at the setup of a face.
So for example a digital watchface only loads the time at setup. and all other features will get added in the loop().
but tbh didn't really note a difference when experimenting yesterday with it.

'new[]()' is ofcourse a bit slower but it is faster then the 'gfx()-

[2021-05-16 13:56] uvwxy commented on #19
Ok, I will change it accordingly

[2021-05-16 14:05] #17 closed

[2021-05-16 14:05] #19 closed

[2021-05-17 13:47] xasz commented on #15
Any glimbse on this :) ?

[2021-05-17 13:58] Simonmicro commented on #15
Currently I / we work on the finalization of #54, then I plan to work on #77. @uvwxy will work on other stuff (two services). I _then_ plan to look further into this (I consider this here as a early-stage-draft)... So all the progress is currently the `osw_ui.cpp` - you may want to extend that one or look there...

[2021-05-17 19:29] Simonmicro commented on #77
@SeanReg I know you are the original author, so I'm letting you know:

I plan to introduce to the services a similar header behavior like with the `OswConfigKeys`. So we have some kind of namespace to access all the services (so any app could later on access & interact with them) and they are instanced as needed (only if `#defined` an instance of them get created).

Are you OK with this or do you

[2021-05-17 21:50] SeanReg commented on #77
Right now the Services have a singleton design via the ServiceManager that allows you to do the following:

`ServiceManager::getInstance().registerService`
`ServiceManager::getInstance().getService(Services::<SERVICE_NAME>)`

You can #ifdef around each of the `registerService` to prevent the service from being registered. Thinking maybe this will keep services a bit more self contained?

[2021-05-18 15:35] xasz commented on #15
I am not sure but i think there will be needs for building Layout on Runtime.
For example if there i am thinking about alot of Apps where an external API/Rest-Service could define the layout.

I do not see much in the osw_ui.cpp
Is there any implementations for ur Diagram above?

[2021-05-18 17:16] uvwxy commented on #54
I added the static text and drop down. Are we done here? :)

[2021-05-18 17:17] uvwxy commented on #54
see 97dcd47

[2021-05-18 17:18] uvwxy commented on #15
I really like the proposed sprite system of #90

I think we should implement possible widges in the same way

[2021-05-18 17:53] xasz commented on #15
If i did understand it correctly it is quite the same. As i have not found any code, i did start some really really basic test implementation. If u call it Sprite or Drawable - Thats a discussion worth :)
I have a Drawable / Label / ListView and Plan on having some more Elements Like Button / Icon / and i can implement a "Sprite". But my priorioty is on really simple to build ui/menus but i think

[2021-05-18 19:38] Simonmicro commented on #54
Neat, I'll just add some static version info...

[2021-05-18 19:44] Simonmicro commented on #54
Whats is the field type of static text?

[2021-05-20 00:51] plungepool opened #95 "Watchface changes to default analog when tapped after wakeup"
Hi, not sure if this is a known issue, but I've noticed that if I select the digital or binary watchface, the OSW will remember what it was set to, unless the watch is tapped or jostled more than is required to wake it up in which case it resets back to the analog watchface. Was experimenting trying to figure out if perhaps it switching back had anything to do with the step counter being triggered

[2021-05-20 01:48] SeanReg commented on #15
My recommendation would be to use Sprites as the base class for any UI components. UI Components like Button/Icon/etc would/should have much of the same basic properties as a sprite (position, angle, size, layers, etc) and build on top of it via inheritance.

With the Sprite system I also want to add the concept of a `Group`. Which holds multiple Sprites all offset from a common origin. The group

[2021-05-20 07:24] xasz commented on #15
My recommendation would be the "same" but not call it sprite. In my world a sprite is a 2D Graphic (for example for games). My superclass would be a Drawable as @Simonmicro described it and a Sprite is a derviced class which could hold a graphic or animation. I am planning on different Layout components, which could be Grid, VerticalLayout, HorizontalLayout. I have not planned any rotation support

[2021-05-20 07:30] uvwxy commented on #95
What git revision is affected by this?

[2021-05-20 10:31] Simonmicro commented on #77
Yeah, I've seen this - but I assume your `registerService` call works dynamically and therefore on the heap? I would like to move it into the stack/program code like I've already done with the config keys. Basically you define a static array, containing all the pointers to the statically created instances (maybe contained inside a namespace, so any app could access it directly [hey - also no searc

[2021-05-20 11:04] xasz commented on #15
Thats a good thought. Tbh i am "new" to c++ and this level of saving perfomance.
I am not sure what u mean by be more static. I think it is in the responsibilty of the one who actually "implement" the menu, if he setup all the layout and fixed elements in the setup() and then all is fixed or if he will update it in the lifecycle of the app.
Could you give me an example of what would be bad and wha

[2021-05-20 11:45] Simonmicro commented on #15
NP! :grinning:

A "static" implementation would require you to specify during compile-time what the layers size is, also you would fill such a layer with its constructor and then never be able to "remove"/"add" anything without destroying it.

For example - this could it look like:
[code]
Note that we have not used anything on the heap - the example-texts are only on the stack (as we are not using

[2021-05-20 11:58] xasz commented on #15
Thanks for the little excurse :) I am on your side and get your point.
How big the problem would be to use a dynamic implementation i really can't tell - really don't know :) But the advantages on the usability would be big. But i don't see any problems to have both world, at least for some point.
If we give both options. There really is not any Point to have a "StaticLabel" and a "DynamicLabel" a

[2021-05-20 13:32] Simonmicro commented on #77
@SeanReg Here is my current progress regarding the "new" service structure - feedback is (as always) welcome:
https://github.com/Simonmicro/open-smartwatch-os/tree/feature/wifiService

[2021-05-20 13:42] SeanReg commented on #15
You seem to be confusing concepts here... A Sprite is just a bitmap, you're correct. And UI elements on an OS are made with bitmaps... Just because game engines "have Sprites" does not mean that an Operating System's UI isn't backed by bitmaps (it is).  In Unity, all UI components and Sprites are Behaviors which contain transforms, they are therefore derived from the same concept. In LibGDX Sprite

[2021-05-20 14:07] xasz commented on #15
@SeanReg I think we are talking about the same. And sure, the UI Component in the and is a bitmap, but in the end i think we are justing using other terms and i just would not name the superclass sprite, we can if others think we should :)
For my app what i am planning to make i need some simple to use ui/text/label/slider/buttons, that is the reason why i am in this issue ;) Because i looked if t

[2021-05-20 16:49] Simonmicro commented on #15
Good point, but do you have further references on that? As far as I know we can use with our stack as much as we want (will be subtracted from the heap) and any stack size limitations for the esp32 are caused by yourself, when you create any `xTaskCreate*`. I'm just unable to find any references to this limit right now.

Currently yes? But I would not trust our future selfs to keep that in mind. W

[2021-05-20 16:51] Simonmicro commented on #77
## Current TODOs

- [ ] rework servicemanager to be more static
- [ ] clean up main.cpp and strip out the task stuff for core 0
- [ ] move gps into own service
- [ ] break `config.h` defines again
- [ ] create heap size logger

[2021-05-20 18:14] SeanReg commented on #15
Yes, so this is a little tricky because of the arduino-esp32 framework which we use. When the device boots, a Task is created (loopTask) which the start()/stop()/loop() run in the context of. That task has a fixed stack size:

https://github.com/espressif/arduino-esp32/blob/master/cores/esp32/main.cpp

However, I agree the precomputed static resources *should* just come from global memory and not

[2021-05-21 06:38] xasz commented on #15
@Simonmicro If u have the power to create a service which can monitor heap sizes and idk if possible fragmentation, i could use that to run some tests when i finsh some more complex elements. I am trying to keep thinks on the stack as much as possible without the for now, at least for me, needed dynamic elements or think about it if i can implement them in two ways, like static stack and dynamic h

[2021-05-21 16:44] mat942 opened #98 "extra light release"
Would like to propose an extra light release without connectivity for just the time watchface and manual time setting.

[2021-05-21 16:50] mat942 opened #99 "Setting of wake sensibility"
Latest releases leave the OSW most of the time on which increases power consumption. Manual setting of this setting to each user's taste would be a nice addition

[2021-05-21 17:18] matti04 commented on #98
Hi, kindly elaborate why you think so. What do you think is the advantage of an extra light release?
The hardware for the light edition is already quite affordable, and low-power.
Regards, Matteo

[2021-05-21 17:48] mat942 commented on #98
Hi, I'm thinking same hardware but having the possibility to flash an extra light release for a greater battery life and endurance in environment without connectivity.

[2021-05-21 20:42] Simonmicro commented on #15
Fantastic timing! I've just implemented a new service structure with exactly such a subservice last night (this is WIP, so make sure to not pull any newer versions, otherwise you'll may get the new wifi service :P ): https://github.com/Simonmicro/open-smartwatch-os/tree/feature/wifiService

Yes, but have you noticed the wake up times recently? @uvwxy is currently working on a light sleep version -

[2021-05-22 08:18] uvwxy commented on #99
I added settings to disable/enable this mode and cherry-picked the changes from #100 to allow threshold editing

[2021-05-22 08:22] uvwxy commented on #99
Commit with a082bbd

[2021-05-22 08:22] #99 closed

[2021-05-22 08:24] #49 closed

[2021-05-22 08:24] uvwxy commented on #95
please check with the latest master again. thank you!

[2021-05-22 08:25] uvwxy commented on #98
@mat942  I understand what you mean.

Would you be happy with a separate branch for this?

[2021-05-22 08:26] mat942 commented on #98
Sure!

[2021-05-22 08:27] uvwxy commented on #54
I think we are done here ;)

[2021-05-22 08:27] #54 closed

[2021-05-22 08:46] uvwxy commented on #77
@Simonmicro I looked at your service structure refactoring and would like to merge it as soon as you are done with it. your pull request was still marked as draft.

[2021-05-22 18:22] plungepool commented on #95
That does it! Thanks!!

[2021-05-22 18:22] #95 closed

[2021-05-23 18:36] xasz commented on #15
tbh. did not use the watch the last days because of the bad wake up times :) will need to try it again.
I hope i got some time this week and want to try to "finish" a first implementation with a layout/button/label/slider. When i am ready i would appreciate to have a review a a discussiona bout the code quality/perfomance and if we can build on it or not :)

[2021-05-24 19:30] mat942 commented on #98
any progress anyone?

[2021-05-25 00:46] rasppliances opened #103 "Browser config does not keep 24 hours setting"
When I use the browser config and uncheck the Use 24h time format? option, then save the settings, this setting is not saved.

Steps to reproduce

1. Go to the Configuration UI app and click Connect
2. Use your browser to login in using the settings displayed on the watch.
3. Scroll to the bottom and uncheck Use 24h time format?
4. Click Save
5. Note the Saved message
6. Reload the page
7. Note th

[2021-05-25 08:45] airtonzanon commented on #103
I took a look on the developer branch and there's the same problem but with the colors (section Theme & UI).

[2021-05-25 20:44] mat942 opened #104 "Download center for watchfaces, 3D cases and more"
Hello all,

Given user base is growing by the day and OSW offers a very high degree of customization I think a place to showcase each user creativity could be great. The idea would be to have a place we can download watchfaces and integrate them easily (maybe redo code so its a single file to replace?). It could also be used for 3d cases or apps later on. Something like an "OSW store" but all free

[2021-05-26 21:02] uvwxy commented on #103
Could you check this again. I have changed the keys of settings recently, which will reset to default values once to reinitialise the config partition.

... if we can rule this out, I can check this again

[2021-05-28 12:50] xasz commented on #15
I have build a small UI Class/Concept. For now there is a List/Button/Label/Slider:
Instragram: https://www.instagram.com/p/CPTD-h_BBTP/?utm_source=ig_web_copy_link
App-Code: https://github.com/xasz/open-smartwatch-os/blob/UiAbstraction/src/apps/tools/ui_test.cpp

Visuals need some work, but there are some little helpers for width and height for child elements.
I plan on add a staticList or other

[2021-05-28 15:20] airtonzanon commented on #103
@uvwxy I just rebased with the last version of `develop` and it still happening.

When I take a look on logs I just see that it writes until `foreground color (dimmed)`

[code]

I tried to change the `Primary Color` for example, and it won't keep the configuration that I changed.

[2021-05-29 09:00] richtepa opened #107 "Combine config & time-config"
According to the [new App-Switcher](https://discord.com/channels/673521025593638932/748973564610215947/839938087571161088) we could combine the config app (config_mgmt) and time-config app (time_config) into a single settings app. This way it only uses one tile in the AppSwitcher.

Is this change desired? If so, I would like to do that.

[2021-05-31 12:51] rasppliances commented on #103
I tried it with the latest build in an incognito window.  All the colors saved no problem, but the time/date information did not.  24 hour, daylight offset, time zone and date format would not save.  Even after I changed them while changing a color as well.  The color would change and save, but the time/date setting would not.

[2021-05-31 12:53] rasppliances opened #109 "Removed apps come back"
I commented out the snake and water level apps in main.cpp and uploaded it to my watch.  The first time through the apps. those two apps are missing.  It goes watch face, stop watch, time config, gui congif and back to watch face.  But if I keep going after I get back to watch face, I get snake, stop watch and water level in that order.

[Here's a video that demonstrates what I'm seeing](https://y

[2021-05-31 15:17] Simonmicro commented on #77
# service specs / implementation todo

- [ ] wifi service key `autoenableandconnectWifi`
- [ ] connect/disconnect (works with ssid/pass  OswConfigKeys)
- [ ] loop, setup, stop
- [ ] getNativeHandler(); maybe getVisibleWiFiAPs(), getClientIP(), getStationIP()
- [ ] enableAP, disableAP
- [ ] enableWiFi, disableWiFi
- [ ] enableAutoNTP, disableAutoNTP (controlled with OswConfigKeys)
- [ ] isConnected

[2021-05-31 19:34] Simonmicro commented on #103
CONFIRMED BUG. Will be fixed asap (we were running out of stack space while parsing the json with the data).

[2021-05-31 21:20] Simonmicro commented on #103
Will be fixed in PR #110

Feel free to reopen this, if the problem persists after merging...

[2021-05-31 23:02] rasppliances commented on #103
Not reopening, but asking, should issues be closed before they are fixed?  In my line of work (I implement ITSM/help desk tools) incidents aren't closed until they are fixed or a workaround is given.  Granted, this is targeted to be fixed by a current pull, but it's not fixed yet.  Just my thoughts.

[2021-05-31 23:18] Simonmicro commented on #103
Okay, very fair point. Consider this issue open and closed at the same time :laughing:

[2021-06-02 16:28] #77 closed

[2021-06-03 13:20] airtonzanon commented on #103
Just tested! Working well on develop! Thanks @Simonmicro

[2021-06-03 16:09] #103 closed

[2021-06-03 22:01] Simonmicro opened #113 "Use std::size() (or something similar) for static array length"
...this should allow us to replace the current `#define` approach, as the sizes are known during compile time.

-> Ref: https://en.cppreference.com/w/cpp/iterator/size

[2021-06-06 13:41] hugo4715 opened #114 "BLE Media Control is resetting the watch"
The BLE Media control app seems to be resetting the watch when switching to another app.

[2021-06-17 19:17] uvwxy commented on #109
That was a copy and paste issue on the develop branch back then. this should be fixed. reopen if this is still the case. thanks :)

[2021-06-17 19:17] #109 closed

[2021-06-18 12:37] #107 closed

[2021-06-18 14:51] richtepa commented on #104
I would like to help too. Is there a plan?
Do we make watchfaces in a single file first?
Do we want to use an available system for sharing/downloading or do we want to code it ourseves?
The user needs to compile and program the whole firmware. OSW-OS is hosted on GH. Is there a good way to integrate the Download center on GH (another Repo in combination with GH-Pages)?

[2021-06-18 19:24] richtepa commented on #104
On a download center we could also make it possible to configure and install the FW on the watch via USB (later OTA).
By selecting apps/watch-faces we could change the code correspondingly. Uploading should not be a problem, too. We only need to have an idea on how to build the FW from the code (client or server).

[2021-06-18 19:25] mat942 commented on #104
I was thinking of runnign a wordpress site than can handle upload dowload and have either a unified watchface format or store firmware elfs.

[2021-06-18 19:27] mat942 commented on #104
I think the easiest way is make watchfaces single file and shareable first

[2021-06-18 19:31] mat942 commented on #98
anyone on this?

[2021-06-18 19:57] richtepa commented on #104
Wordpress is a simple solution, too. I'm not very experienced using Wordpress but there are a lot of plugins. Maybe there is the perfect one out there.

I'm not sure if elfs are the way to go. If you provide a watchface as .elf it will be the whole OS. This way you cannot add apps or change the config. Or did I miss something?

Yes. :100:

For watchfaces e.g. upload
* Watchface itself
* Screenshot

[2021-06-18 20:03] mat942 commented on #104
something like this could work https://wordpress.org/plugins/bbp-voting/

[2021-06-18 20:07] mat942 commented on #104
fully agree with your vision @richtepa

[2021-06-18 20:12] richtepa commented on #104
Is @uvwxy d'accord with our plan?

Then I'll search and test for suitable wordpress plugins this weekend.

[2021-06-18 20:21] richtepa commented on #104
@mat942 is there something you want to do? (I don't want to take it away from you 😉 )

[2021-06-18 20:22] Simonmicro commented on #104
:100:  - Problem is we are unable to compile a stand-alone add-on for the firmware, as the latter one may not include all used functions (optimizations, optimizations).
- @SeanReg build a LUA integration and we could try to port existing apps and extend the API to make it really usable (may the best way)!
- The better way (I think) would be to utilize something like a website / docker container to

[2021-06-18 20:24] mat942 commented on #104
We might want to create a community branch to have an architecture development for shareable watch faces

[2021-06-18 20:25] mat942 commented on #104
good catch on the web maintenance, we will need to figure out a system for users to submit their ideas though so we keep the site populated

[2021-06-18 20:26] mat942 commented on #104
your lead with tasmo also looks very promising

[2021-06-18 20:26] Simonmicro commented on #98
Nope - but you could use the latest dev release and just turn off all features inside the web ui... This leaves you with a nearly minimal build... You may have to live with the step counter, which can't be turned of (yet?).

[2021-06-18 20:28] Simonmicro commented on #104
BUT this looks very good for a feature request page?! Maybe, maybe... Someone interested?

[2021-06-18 20:29] mat942 commented on #104
https://wordpress.org/plugins/simple-feature-requests/

[2021-06-18 20:43] richtepa commented on #104
That's my favorite way, too. Creating the compiler will be hard.

Thats why I suggested the GH approach earlier. We could create some small scripts and only display/provide the watchfaces from GH on the external download center. Editing would be in GH. (like Hugo but more tailored to our needs)

I think we are still in the idea/planning phase. The more people share their ideas and taught on the di

[2021-06-19 02:50] Tomaskocarter commented on #23
Personally I really like the watch face that's second from the right on the bottom row. I think making the time larger so that it is easy to read at a quick glance, and adding in the date could be an improvement, but overall I think the simplicity of it gives it a minimalistic look that's pleasing to the eye.

[2021-06-19 03:12] Tomaskocarter commented on #20
I think it would be smart for the user to push and hold (for 3 seconds or so) to reset. This will minimize accidental resets if you accidentally bump the button. As far as the visual indication of resetting the time goes, this is what first came to mind.

A small circle next to the reset button that forms over the course of 3 seconds or so. Basically like pizza slices, it starts off as one slice,

[2021-06-19 03:15] Tomaskocarter commented on #13
This is a good idea, and for us land-locked users, we could do something similar but with sunrise and sunset times.

[2021-06-20 16:57] RickSeiden opened #116 "Rise to wake not working"
I have configured the rise to wake threshold as low as 0 and as high as 255, and the watch does not wake when I bring up my arm and twist my wrist.

[2021-06-20 19:06] uvwxy commented on #116
I had the same issue. thanks for creating a ticket to keep an eye on this.

[2021-06-20 19:07] uvwxy commented on #114
Is there a stack trace in the serial output?

[2021-06-20 19:17] richtepa commented on #104
I have no idea on how to combine the files into one.

This weekend I started writing some code (https://github.com/richtepa/osw-store) for the download center. It's a bit rough and has a lot of loose ends I need to fix. (+cleaning the code up, security, more features, etc.) The design is also not pretty 😉 .

A preview of this possible solution can be found here: https://osw.richter.dev
If you don'

[2021-06-20 19:19] uvwxy commented on #104
Sorry for the late response. Thank you for the great discussion!
Here is what I picked up + my two cents:

- first share the **c++ files** until the lua script part is ready (it's missing gfx at the moment and uses ArduinoGraphics instead). Once the lua part is worked out, it should be easy to port to c++, and make something dynamic to download them onto the watch from the watch (think: far in the

[2021-06-21 22:38] rasppliances commented on #103
It looks like the pull has been merged, and I'm still experiencing the same problem.  I cannot turn off 24 hour time on my watch.  There used to be a setting for it in config.h. What happened to that, and why was it taken away?

[2021-06-22 10:52] airtonzanon commented on #103
@rasppliances it was merged to the branch develop not master.

[2021-06-22 11:37] rasppliances commented on #103
@airtonzanon Thanks!  That explains it.  What about putting these settings back in config.h?  Is there any way to do that in the meantime?  I looked, but couldn't figure it out.

[2021-06-23 10:59] Simonmicro commented on #114
Isn't this a known issue, as the `BLEKeyboard` instance literally does not implement any destructor? Therefore we have a huge memory leak and reactivating the in-memory rendering causes us to run out of it.

[2021-06-23 11:03] Simonmicro commented on #103
Hmm, our goal was to move away from the compile-time configuration, but I see no problem with keeping the defaults inside the `config.h`. I mainly removed these settings to force developers to use the new config system (and so that nobody would wonder why some apps would just not respect the setting from the web ui).

[2021-06-23 11:34] rasppliances commented on #103
That makes sense.  Moving away from compile time settings would make the watch more accessible to people.  They could use the watch without having to install a toolchain they don't use for anything else.

Is it possible for someone to choose to "add back" a configuration into config.h without any other change being made to the code?  Alternatively, where can I go in the code to change it just for

[2021-06-23 13:47] Simonmicro commented on #103
Take a look into `src/osw_config_keys.cpp`. All the settings and their defaults are defined here. Note that you also have to modify `configVersionValue` inside `include/osw_config.h` to force the watch to re-apply the default values (just set an other number).

If you wish to have a default `config.h` again, just create an issue, so we could track & discuss this there further.

[2021-06-23 14:44] rasppliances commented on #103
@Simonmicro  This issue goes away soon, so I don't want to change the design plan for less reliance on config.h.  I'll look into the files you mentioned and see what I can work out.  Thanks for your help!

[2021-06-23 22:31] Kokofruits1 commented on #20
Great idea!

[2021-06-25 20:33] richtepa commented on #104
No feedback is feedback, too.

I think this is a point we could add to the backlog. But if this is something we (you) can do, great 👍 .

Yes, in my opinion the page itself (providing the c++ files) would be the first step.

I am not familiar with these tools. Is there a way to add a voting system (if we like to)? If there is nobody else, I think this task will be yours, too 😉 .

[2021-06-27 10:11] uvwxy commented on #114
Indeed. BLE Media Control will not usufully work on the light edition. I have designed a new PCB with an additional 4MB ram which will make this usecase more doable.

[2021-06-27 10:11] #114 closed

[2021-06-27 11:03] Simonmicro opened #117 "Correct src/www/*.html names"
Okay, somehow the ota code ended up inside the `config.html`... This is a little bit confusing. maybe it should also be called `update.html`...

[2021-06-27 11:09] Simonmicro opened #118 "Show the own wifi AP password"
The watch has a feature called "Auto AP". This is nice to use, but the password is only shown on the command line during creation. We should consider expanding the successor of the `config mgnt` app to also display this information (beside the ui user & password).

[2021-06-27 14:25] #7 closed

[2021-06-29 20:11] exponentactivity opened #119 "Don't allow setting screen timeout to 0 seconds"
Setting screen timeout to 0 seconds puts the screen to sleep constantly/instantly, locking the user out.

I tried disabling screen timeout by setting it to 0 due to #116 but instead i locked myself out and can't figure out how to reset the timeout to a usable value.

Instantly putting the display to sleep/turning it off doesn't seem to serve a useful purpose. Could instead disable the timeout?

[2021-06-29 20:28] exponentactivity commented on #119
In case someone else ends up in this situation:

Editing `./include/osw_config.h` and changing `configVersionValue` to a new value (i set it to 3) will reset the config and make the watch usable again.

Thank you to the developers for commenting the code!

[2021-06-30 00:20] Simonmicro commented on #119
I guess a check to disable the timeout on zero would be a good idea.

[2021-06-30 20:57] mpegg4 opened #120 "Digital clock face - text background incorrect after updating color settings using Configuration UI"
Thanks to brrMoment for surfacing this and the collab to identify the fix.
When updating foreground/background color using Configuration UI, digital watchface (and some other apps) draw text without deriving ui background/foreground color and applying. This creates issue for first time users who are not familiar with coding.

Example digital watchface screenshot with background color issue:
![imag

[2021-07-02 05:05] maifeeulasad opened #121 "Any Java/Kotlin API to interact with?"
If I want to fetch data from this smartwatch, then how can I do it? I was looking for something in the doc, but couldn't find it.

[2021-07-02 11:23] Simonmicro commented on #121
No there is currently no API nor is one planned - what data do you need?

[2021-07-02 12:57] maifeeulasad commented on #121
I'm planning to buy one and then make some applications to interact with this smartwatch.

Actually, I want bi-directional communication.

I'm still reading the OS source, then I may get to know, how can I modify the OS to create a custom server and etc. But I'm quite confident about the Android part. I can easily connect Android to almost anything.

[2021-07-02 19:53] fafa-junhe opened #122 "stopwatch bug"
I found a bug when I click the reset and continue buttons of the stopwatch at the same time, the time will increase unexpectedly.
[code]

[2021-07-02 20:28] Simonmicro commented on #121
That sounds nice, I would recommend you to create a service task inside the osw-os and to connect the watch to your smartphone using Bluetooth. This ensures the watch also works when the user is not at home.

Please note that our current hardware revision has some serious limitations, greatly impacting our ability to use Bluetooth without crashing (and also using nearly all memory up). I would the

[2021-07-08 05:20] Kirottu opened #124 "Latest develop branch results in black screen."
When i try to run the latest development branch version I only get a black screen on the watch.

[2021-07-08 10:45] Simonmicro commented on #124
What is the output on serial? Possibly a boot-loop, but without further information we can't debug this.

[2021-07-08 11:12] Kirottu commented on #124
How do i monitor the serial connection?

[2021-07-08 11:58] Simonmicro commented on #124
Somehow you uploaded the firmware - right? Use Visual Studio Code also for this (click at the bottom left on the plug-symbol).

[2021-07-08 12:08] Kirottu commented on #124
I use the command line and PlatformIO core. I would like to use that if it's possible.

[2021-07-08 12:51] #117 closed

[2021-07-08 13:38] Simonmicro commented on #124
Okay, the OS is probably normally booted - did your model every work? Did you made sure to compile the correct edition for your model (like using light for the aliepress ones, gps for the one with gps and so on)?

Idea: Something went wrong with the color setup - please modify line 35 (`  const short configVersionValue = 2;    // Change this when you want to clean the config on next boot` in file

[2021-07-08 13:55] Kirottu commented on #124
The watch does work, I have it in use right now with the current master branch os, and I compiled it with the same command as the master branch. I will try out that idea when I get home.

[2021-07-08 14:02] #113 closed

[2021-07-08 14:28] Simonmicro commented on #122
Should be fixed - could you confirm this with a fresh build from the `develop` branch?

[2021-07-08 15:04] Simonmicro commented on #120
Should be fixed - could you confirm this with a fresh build from the `develop` branch?

[2021-07-08 15:19] Simonmicro commented on #119
Should be fixed - could you confirm this with a fresh build from the `develop` branch?

[2021-07-08 15:31] #118 closed

[2021-07-08 20:27] mpegg4 commented on #120
@Simonmicro thanks - will check it out and feedback here and in discord. Awesome work!

[2021-07-08 20:55] mpegg4 commented on #120
@Simonmicro Ack - looks great now!

[2021-07-08 20:55] #120 closed

[2021-07-09 14:54] exponentactivity commented on #119
Now the watch crashes when changing apps, before i can confirm the fix.

After uploading the new `develop` firmware to the watch and rebooting, the watch boots like expected.
I change app, trying to get to the web-ui setup to confirm the fix, but when i try to change the app from water_level the watch crashes and the monitor terminal outputs `cannot open /data/lua/apps/stopwatch.lua: No such file

[2021-07-09 17:00] Simonmicro commented on #119
This is a separate issue - it seems you tried to compile a lua app into the os and failed to add the script itself?! This (should) not be related to this issue. Try reverting the main.cpp to the original state of the develop branch, please.

[2021-07-09 17:28] exponentactivity commented on #119
The feature works as intended. Thank you.

[2021-07-09 17:30] #119 closed

[2021-07-09 17:44] fafa-junhe commented on #122
Yes - It fixes perfectly.

[2021-07-09 17:44] #122 closed

[2021-07-12 10:41] Kokofruits1 opened #130 "An accent color"
Could be cool to implement in apps to have a cohesive thing to all of the apps.

[2021-07-14 05:38] Kirottu commented on #124
Any new ideas on how to try to make this work?

[2021-07-14 06:55] Simonmicro commented on #124
I have no idea what's going on - everything seems to boot fine. Could I send you a known good build of the develop branch? Maybe something goes wrong during compiling...

[2021-07-14 17:09] mpegg4 opened #131 "on sleep - button presses should wake up watch & configurable off as an exception"
Not an issue but a feature request - would be nice to wake up the watch face by pressing any button (ie not have to tap screen). Tap to wake as only wake mechanism is not always obvious.

[2021-07-14 18:05] mpegg4 commented on #131
Maybe can introduce a configuration line item that can be turned _off_ but is defaulted to _true_, and pass it into these sleep functions (which are currently hardcoded):

power.cpp:

`void OswHal::lightSleep() {
  _isLightSleep = true;
  doSleep(this, >>>configDrivenButtonWake<<);
}

void OswHal::lightSleep(long millis) {
  _isLightSleep = true;
  doSleep(this, false, >configDrivenButtonWake<<,mi

[2021-07-14 18:09] Kirottu commented on #124
I can definetly try that out. If that doesn't wrong then it's really weird.

[2021-07-14 23:26] mpegg4 commented on #124
I had some issues with configs in the past,  maybe can try VSCode -> Erase Flash to ensure the watch is fully clean before fresh upload and monitor?
I just tried fresh develop branch seemed ok on win platform.

![image](https://user-images.githubusercontent.com/12973737/125705296-995d0a01-0f59-4df5-bc78-cfafb661e602.png)

[2021-07-15 10:06] Simonmicro commented on #124
Okay, this one should work.

[firmware.zip](https://github.com/Open-Smartwatch/open-smartwatch-os/files/6822238/firmware.zip)

[2021-07-15 10:10] Simonmicro commented on #130
You mean theme?

And we already have this - at least with primary, background, info, warn, error & more colors - please specify what you mean with this.

[2021-07-15 10:14] Simonmicro commented on #121
How about we work on that together - I'm happy to implement the C++/BLE part!

Question is what data you need to set/get and which way of communication you want. WiFi works most of the time - BLE must be further investigated (maybe for now only compile one at a time)...

Do we need periodic wake ups? Long data retention? Ideas? :grinning:

[2021-07-15 10:51] airtonzanon commented on #131
This is already possible if you disable the tap to wake.
You can use the boot button to wake the watch, @uvwxy introduced this a while ago.

[2021-07-15 12:04] Kirottu commented on #124
How do i flash that to the OSW? (with cli tools). I also tested erasing the OSW and then reflashing it with the latest develop branch which didn't work.

[2021-07-15 12:33] Simonmicro commented on #124
Put it into the `.pio/build/.../` folder (`...` for your compiled edition) and replace the existing `firmware.bin`. Then you just have to reupload - make sure to not recompile.

[2021-07-15 12:49] Kirottu commented on #124
That works completely fine now, and it is the latest development version. So something goes wrong with the build then.

[2021-07-15 15:08] Simonmicro commented on #124
Okay...
- Run `git status` and look for any changed files.
- Pull newest develop `git pull origin develop`.
- Make sure you are on develop `git reset --hard origin/develop`.
- Clean everything `git clean -f`.
- Use the default `config.h.example` as `config.h`.
Try it again.

[2021-07-16 09:55] Kirottu commented on #124
Thats interesting, it works out now. I'll try to spot the config change which caused this.

[2021-07-18 07:20] Kokofruits1 commented on #130
Oh, cool, didn't know that! I mean it's like a colour that can be accessed by every app and used, for example, a line to give it the same colour. Seems like it's the same as it's already implemented.

[2021-07-18 07:20] #130 closed

[2021-07-21 13:14] uvwxy commented on #131
@mpegg4 thank you for your contribution. The intended "button press should wakeup watch" happened when you deselect both tilt and tap to wake.

I can see that this was not explicitly clear though. This is handled in `power.cpp` as follows:

[code]

I have differentiated the two ways to trigger sleep mode:
- autom. sleep on the watch screens: uses the settings (wakeup by either tilt, tap, or if nei

[2021-07-21 13:14] uvwxy commented on #124
Can we close this?

[2021-07-21 13:16] uvwxy commented on #121
@maifeeulasad let's do further discussions on discord. If your question in this issue has not been answer re-open  ;)

[2021-07-21 13:16] #121 closed

[2021-07-21 13:19] uvwxy commented on #98
Idea:

Split the time setting app into a "manual only" and "update from internet". If I remember correctly @Simonmicro rewrote the wifi service to reresh the time automatically in any case, so we could skip the latter.

[2021-07-21 13:24] uvwxy commented on #22
@occ2018 Thank you for the suggestion. As we still have a lot to do, I will close this issue until we have the time for this :)

[2021-07-21 13:24] #22 closed

[2021-07-21 14:45] Simonmicro commented on #124
I guess yes. @Kirottu feel free to post your finding when ever you are ready - but for now this issue is finished / solved.

[2021-07-21 14:45] #124 closed

[2021-07-21 14:48] Simonmicro commented on #98
Only if the user enabled this. Alternatively the user should still have the ability to manually trigger a refresh.

How about the top button to set it manually and the bottom to connect and then to fetch it that way? Are we not already doing this?

[2021-07-21 16:26] mpegg4 commented on #131
Thanks @Simonmicro  @uvwxy & @airtonzanon  (sorry @airtonzanon missed your notification) !

Definitely problematic if buttons different response or wakeup event model will have conflicts or double fires! I also appreciate the elevated education and conversation level here on my first code contribution to any project ever - thank you.

For context - came across this scenario when I had finger on bu

[2021-07-22 10:05] uvwxy commented on #98
@mat942 Please see the latest develop branch.

Add the following line to your config.h:

[code]

Then you can flash a firmware version without wifi, and the config app only allows manual setting of time.

[2021-07-22 10:05] #98 closed

[2021-07-22 17:33] mpegg4 commented on #131
Closing issue - support for functionality is seeded and now there are defaults introduced that can be overridden for individual preferences.

[2021-07-22 17:33] #131 closed

[2021-07-22 17:36] mpegg4 commented on #116
Looks like https://github.com/Open-Smartwatch/open-smartwatch-os/issues/119 was related, fixed & closed.  Maybe this ticket is too?

[2021-07-25 19:20] max9901 commented on #65
Would it make sense to use the <Preferences.h> lib with a step-count namespace to store step values. And then write a OSWservice to deal with updating and resetting step values ?

[2021-07-25 20:59] uvwxy commented on #65
Yes 💯

[2021-07-25 21:03] max9901 commented on #65
We do have a problem with reading out the time from the RTC, i was checking it tonight but we get errors (aka 0 values) when 2 cores are using the i2c bus at the same time. Should we maybe make a general system background process that actually does the time updates etc instead of giving the user full control of querying the I2c line ?

[2021-07-25 21:19] uvwxy commented on #65
Also yes :)

[2021-07-26 08:41] max9901 commented on #65
[WIP]~
https://github.com/max9901/open-smartwatch-os
If time permits let me know what u think of the approach :D

[2021-07-26 17:18] max9901 commented on #65
So i Have some issues with I2C on core 0. The counter reset idea is implemented where we save the last 7 days in nvs-mem.
I only want to move all I2c Sensor updates to a service on core0. However, this give very in-stable readings somehow.

[2021-07-28 08:00] Simonmicro opened #137 "Extend serive task with properties"
Surfaced on #136

Every task should be able to specify:

- How often it should run (sleep time)
- Which core
- Stack size

Also we should utilize RTOS native tasks more and "remove" our main loop.

[2021-07-28 12:52] max9901 opened #138 "WIFI services broken on develop branch"
I get always get a AP mode with ip adress 0.0.0.0 on the current dev branch.

the master branch works flawlessly.

[2021-07-28 16:44] kekko7072 opened #235 "Add Italian translation"
Hey I have translated the command in Italian but I am not very skilled ad Git, so can someone upload it for me? thanks
[code]

[2021-08-01 16:33] uvwxy commented on #138
Correct, borked on my device too, on it with @Simonmicro

[2021-08-01 16:44] Simonmicro commented on #138
@uvwxy Had added some code to get the ULP working - for this an other fork of the Expressif libs was used -> this caused the WiFi to get broken. It is fixed now.

[2021-08-01 16:44] #138 closed

[2021-08-04 13:48] RuffaloLavoisier opened #141 "Open-smartwatch application for Smartphone"
Hi, I got a lot of inspiration from my watch.  You can do more various things by linking your wristwatch and smartphone with ESP32. I have a similar function.

![oledwatch](https://user-images.githubusercontent.com/66334969/128190448-b6c96259-5bf2-4780-b381-a8bc912888f1.jpg)

# 1. Notification
It informs the alarm that comes to the smartphone with a clock.

# 2. Device Finder
Default : If they are

[2021-08-05 11:54] simonmicro opened #142 "Feature Flags"
Every part of the OS should be turned on/off during compile time, based on the hardware-**revision**.

E.g. `platformio.ini` contains the `LIGHT_EDITION_V3.3`, which includes everything except GPS and only wifi xor ble support. The `LIGHT_EDITION_V4.0` would include both and also could turn on the STA+AP mode simultaneously (as it has more flash memory).

This would allow us to support older revis

[2021-08-05 15:08] uvwxy commented on #142
Great concept. Let me know if I can help.

[2021-08-06 06:42] krishpranav opened #143 "Platform IO Build Error"
Hi @Open-Smartwatch team so I am facing this error when I run this command:
[code]

I am on macOS Big Sur I have installed the requirements that you gave
[code]

[2021-08-06 06:43] krishpranav commented on #143
[code]

[2021-08-06 07:30] matti04 commented on #143
Hello!
Have you removed the `.example` extension from the `configuration.h` file?

[2021-08-06 07:43] krishpranav commented on #143
oh should I do it?

[2021-08-06 07:44] krishpranav commented on #143
@matti04 I've just forgetter it i will try it

[2021-08-06 07:45] krishpranav commented on #143
compilation terminated.
*** [.pio/build/pico32_LIGHT_EDITION/lib925/Adafruit BME280 Library/Adafruit_BME280.cpp.o] Error 1
Compiling .pio/build/pico32_LIGHT_EDITION/libe10/BME280/BME280.cpp.o
.pio/libdeps/pico32_LIGHT_EDITION/BME280/src/BME280.cpp: In member function 'bool BME280::InitializeFilter()':
.pio/libdeps/pico32_LIGHT_EDITION/BME280/src/BME280.cpp:85:1: warning: no return statement in fun

[2021-08-06 07:46] krishpranav commented on #143
In file included from .pio/libdeps/pico32_LIGHT_EDITION/Adafruit BME280 Library/Adafruit_BME280.cpp:31:0:
.pio/libdeps/pico32_LIGHT_EDITION/Adafruit BME280 Library/Adafruit_BME280.h:26:32: fatal error: Adafruit_I2CDevice.h: No such file or directory

[2021-08-06 07:46] krishpranav commented on #143
facing another error

[2021-08-06 08:02] uvwxy commented on #143
@krishpranav  please try:

`git checkout develop`
`git submodule update`

then build again.

[2021-08-06 08:15] krishpranav commented on #143
ok let me try

[2021-08-06 08:27] krishpranav commented on #143
Error: Please specify `upload_port` for environment or use global `--upload-port` option.
For some development platforms it can be a USB flash drive (i.e. /media/<user>/<device name>)
*** [upload] Explicit exit, status 1
================================= [FAILED] Took 115.49 seconds =================================

Environment           Status    Duration
--------------------  --------  --------

[2021-08-06 08:27] krishpranav commented on #143
it is now showing this error

[2021-08-06 08:28] krishpranav commented on #143
any one know to fix it?

[2021-08-06 08:32] krishpranav commented on #143
I just run this command:
pio run -e pico32_LIGHT_EDITION -t upload --upload-port 8080

[2021-08-06 08:33] krishpranav commented on #143
File "/usr/local/Cellar/platformio/5.1.1/libexec/lib/python3.9/site-packages/serial/serialposix.py", line 325, in open
    raise SerialException(msg.errno, "could not open port {}: {}".format(self._port, msg))
serial.serialutil.SerialException: [Errno 2] could not open port 4444: [Errno 2] No such file or directory: '4444'

[2021-08-06 08:34] krishpranav commented on #143
I am facing this issue

[2021-08-06 08:34] krishpranav commented on #143
x.py", line 325, in open
    raise SerialException(msg.errno, "could not open port {}: {}".format(self._port, msg))
serial.serialutil.SerialException: [Errno 2] could not open port 8080: [Errno 2] No such file or directory: '8080'

[2021-08-07 11:38] richtepa commented on #143
pio run -e pico32_LIGHT_EDITION -t upload --upload-port 8080

Where does port 8080 come from? Is your watch is plugged in via usb?
On my mac the port is `/dev/cu.serial-*`.
Try checking the ports using `ls /dev/cu.*` in the terminal.

[2021-08-07 14:10] krishpranav commented on #143
ok thanks @richtepa

[2021-08-07 14:10] krishpranav commented on #143
I just got confused

[2021-08-07 14:11] krishpranav commented on #143
thanks for your help guys

[2021-08-07 14:11] #143 closed

[2021-08-11 21:47] mpegg4 commented on #142
This really is a great idea.  would there be an overlap with config.h or would this be something config.h would override?

[2021-08-12 09:02] simonmicro commented on #142
The config.h will be able to enable further features, the platform.ini will be responsible to define the base setup.

This comes soon ™️

[2021-08-12 15:56] mpegg4 commented on #142
soon ™️ my friend, soon ™️. love it thank you

[2021-08-13 12:36] atellier2 opened #145 "Specials characters (like é, è, ù...)"
I have a problem with the [French localization](https://github.com/Open-Smartwatch/open-smartwatch-os/blob/master/include/locales/fr-FR.h)  . Special characters are not displayed correctly.

I read the documentation but couldn't find a solution.

Do you have an idea ?

Could a library like ```u8g2``` be a good idea to display this kind of characters

[2021-08-17 07:45] atellier2 commented on #145
The problem come from the font definied in the file [glcdfont.c](https://github.com/pauls-3d-things/Arduino_GFX/blob/2ee8fcab95822ea12df37e334f16fa43b8b662a7/glcdfont.c). The font use the ASCII-US extended table.

This font is not compliant with the [ISO 8859-15]( https://fr.wikipedia.org/wiki/ISO/CEI_8859-15).

I think that a way should be to have different font availlable and we could choose the

[2021-08-17 16:39] AvdHdn commented on #116
I noticed that "tap to wake" does not work on my watch when I manually put it to deep sleep mode.
When the watch would time out by itself (on the clock watchface) the tap to wake function does work.
Do you have the same issue?

[2021-08-17 18:29] uvwxy commented on #116
This is intentional: https://github.com/Open-Smartwatch/open-smartwatch-os/blob/master/src/apps/main/switcher.cpp#L44

[2021-08-18 21:54] atellier2 opened #147 "Brightness"
I have a trouble with the brightness.

1. I start the watch
2. I wait for a deep sleep
3. I wake-up the watch and try to increase the brightness
=> The brightness is decreased 😯

The problem seems to come from the initialization of the _brightness variable. The variable is initialized to 0 but in the config file it's for example 75.

Do you have the same problem ?

I write this small fix : https:/

[2021-08-19 13:11] cptshitty opened #148 "Smartwatch is unable to connect to the wifi"
hello, when I try to connect the smartwatch to WiFi, the whole app crashes and the watch restarts, I thought it was a hardware issue at first, but then I replaced the ESP32 and thiss issue persists... Is there any known solution to this problem?
thanks

[2021-08-19 16:28] simonmicro commented on #142
@uvwxy Could you try to split up the GPS_EDITION flag into those:
[code]
I have no idea how easy that is (or what you think about that) - we can also talk about that later...

[2021-08-19 16:36] simonmicro opened #149 "Extend translations (again)"
- Include into new apps
- Translate web interface keys
- Add "fallback"/default behavior

[2021-08-19 22:00] simonmicro commented on #98
Hey, with #142 you'll get more granular control over what you want to compile in. Checkout the latest `develop` to get started!

Enjoy.

[2021-08-21 14:45] Kokofruits1 commented on #20
![Open_smart_watch_stopwatch_fluent_design](https://user-images.githubusercontent.com/79061573/130325104-7ce47302-b302-4894-b16a-c108554f8c16.jpg)

Added @Tomaskocarter idea of a reset buttons timer to prevent accidental resetting and added a splash of color (someone said that there is a global accent color, so the pinkish red would be the accent color selected), made icons rounded and put the pau

[2021-08-21 19:21] richtepa commented on #20
Is no one working on this (code)?
@nithinkodadhavadee: Do you?
If not, I would like to look into it this week.

[2021-08-22 14:44] Kokofruits1 commented on #20
I realized that there is no way that you could see older flagged times. Maybe when there are more of them the flag icon when paused should transform into an arrow and when you have scrolled down it would also show the arrow in the stop buttons place.

[2021-08-22 16:25] richtepa commented on #20
![stopwatch](https://user-images.githubusercontent.com/32306396/130362515-da2bf053-4bee-4f5a-a11e-a4de5cb0d31a.png)
Used the conversation above as inspiration. You can add up to 28 laps (4 pages x 7 laps).
Feedback appreciated.

[2021-08-22 16:51] Kokofruits1 commented on #20
There are too many colors, I think the accent color would be enough.  The flag doesn't really fit in, I think it should be filled.  The page selection dots should be centered on the left side.

I still think that when you have times flagged, the button icons should be in the corner and smaller, because then the timer itself could be bigger and there would be less space wasted, but that's just my o

[2021-08-22 17:11] Kokofruits1 opened #152 "Calendar app"
![Open_smart_watch_calendar_fluent design](https://user-images.githubusercontent.com/79061573/130363919-dd04cbe5-abf3-4e19-a101-940a491014da.jpg)

I think that a calendar app could be a great addition to the smart watch. It would use the apps sync functionality (I know it is not made yet) to get this data and then it would display them. The watch itself would only show the events name, description

[2021-08-22 19:06] richtepa commented on #20
Ok, I used the warning color for reset and the flag for the last 7 (page) laps. For the page indicator I used the info color. I will test accent color only.

I agree. Some polishing has to be done.

I'll change that and post an update.

I personally like it when the icons are next to the buttons. I think at the moment we are using this scheme everywhere.

Maybe we can think about coloring the labe

[2021-08-22 20:55] Kokofruits1 commented on #20
I think that the accent color will work better, because it will look good with any accent color, whereas if we put a constant color that is not black, grey or white, it may not look very good.

I would like them in the middle because it allows for more data or bigger fonts. I think that when there is enough space, icons beside buttons is preferable, but in this case it just looks weird, the icons

[2021-08-23 10:07] richtepa commented on #148
On startup of wifi, the module draws to much power.
I recommend joining the p3dt discord: https://discord.gg/KADpP49G There is also a dedicated channel for Wifi-Issues.

**Software-fix:**
You could try setting `hal->setCPUClock(160);` (or 80/40/20/10) inside the `setup()` in `src/main.cpp`. This might work after the second try to connect.

**Hardware-fix:**
Paul fixed it by exchanging U10 (image b

[2021-08-23 10:52] simonmicro commented on #148
Issue templates with the explicit advice to check out older issues are coming...

[2021-08-23 10:52] #148 closed

[2021-08-23 17:13] richtepa commented on #20
![mockup](https://user-images.githubusercontent.com/32306396/130488307-cbf99483-3854-42cf-b6a4-51fc8e0bc96c.png)

I updated the design:
* accent color only
* changed flag icon
* added the line
* moved the buttons on the right to the center (if laps on screen)

The page-indicator is stays near the button to keep it intuitive.

How should the line behave when scrolling trough pages?

[2021-08-24 19:58] Kokofruits1 commented on #20
This design looks very good!

Didn't know you could use that button for apps, in that case it makes a better choice than centering it/

What do you mean by this?

I don't know how it would be to use it, but wouldn't it make sense for the newest flagged time to be above the line?

[2021-08-25 15:13] richtepa commented on #20
Ok, fixed that.
PR #151 is ready for review.

[2021-08-29 11:06] krishpranav opened #154 "hardware"
hi @open-smartwatch-os team so can I know which hardware will open-smartwatch-os supports?

[2021-08-29 11:15] matti04 commented on #154
Hi!
The Open-Smartwatch OS is developed in parallel to the Open-Smartwatch. We cannot ensure and maintain compatibility with other hardware.
The specs for the Open-Smartwatch can be found on the [respective repository](https://github.com/Open-Smartwatch/open-smartwatch-light). In short, it features an IPS display based on GC9A01, TTGO-32-micro, along with various sensors.
While there are two major

[2021-08-29 11:26] krishpranav commented on #154
thanks @matti04 for your help

[2021-08-29 11:26] #154 closed

[2021-09-02 14:55] simonmicro opened #157 "Improve battery prediction"
* Log last successful boot-on voltage (after e.g. 2 seconds)
* Update known minimal voltage during loading
* Maybe implement other loading curve(s) (than linear)

[2021-09-02 18:42] #157 closed

[2021-09-02 19:50] simonmicro commented on #137
This needs proper i2c locking (for testing), before proceeding...

[2021-09-04 14:09] idpromnut opened #158 "Can't connect to WiFi"
Hi, I have the v3.2 hardware and with both the latest HEAD and develop branches, I get the following errors when trying to connect to Wifi:
[code]

It looks like the MCU is resetting after that error and the monitor console is disocnnected.  I have also tried erasing the MCU's flash via the Erase build target. Configured in config.h:

CONFIG_WIFI_SSID
CONFIG_WIFI_PASS
DEVICE_NAME

[2021-09-04 16:27] simonmicro commented on #158
Hey, those are not errors, just notes that those variables could not be found inside the local flash (and therefore the os defaults are used). The crashes on hardware revision 3.2 are known - and also noted there https://open-smartwatch.github.io/resources/hardware/ . Sadly there is nothing we can do about it right now...

[2021-09-04 16:27] #158 closed

[2021-09-05 19:00] uvwxy commented on #65
Recent develop branch has a step history of 7 days, and resets the first time the watch starts on a new weekday, resetting the counter and carrying over the steps to the previous day.

[2021-09-05 19:00] #65 closed

[2021-09-05 19:12] uvwxy commented on #20
@Kokofruits1 thanks for the awesome design
@richtepa  thanks for the implementation

the code is now merged into the develop branch!

[2021-09-05 19:12] #20 closed

[2021-09-06 07:31] uvwxy commented on #13
Here are my ideas:

I think I'm aiming for a widget as a first step. A 24h (0h00-23h59) histogram of water level, and a red line indicating the current time. no number, no values, just a quick glance to see where where we are at during the day regarding tides.

Next step would be a dedicated tide app.
- maybe: a location selector (we should do some more work on reusable UI widgets first, like a se

[2021-09-09 13:34] max9901 opened #159 "flush step-data if multiple days not been online."
When the watch has been off for multiple days and it wakes up it should flush all the step data that is still in memory.

i will write an PR for this asap.

cheerz.
max

[2021-09-30 17:10] simonmicro commented on #147
Cherry-Picked into `develop` - thank you for catching (and fixing) that!

[2021-09-30 17:10] #147 closed

[2021-09-30 17:14] simonmicro commented on #152
Holy sh*t! I love your design language! I've just seen this issue / idea now and i'm very impressed. I think we should invest further into making a proper UI library - but for now: Your design draft is beautiful!

[2021-09-30 17:42] simonmicro opened #161 "Extend UI class & add full-screen loading"
- [x] Move all overlay handling into UI class (remove from main)
- [ ] Create simple render layer handling
  - [x] Background
  - [x] App layer
  - [ ] Progress layer
  - [x] Overlays
- [ ] Progress layer (title, progress bar (%, unknown & coloring))
  - [ ] start with timeout (default 10 seconds)
  - [ ] setText
  - [ ] setColor
  - [ ] setProgress(-1 for unkown, 0-1 for percent) // call regularl

[2021-09-30 19:26] Kokofruits1 commented on #152
Thank you for liking my design!
For the UI library from a design perspective, I'm not a programmer, just know the basics, I would like to see standardized button label designs (compact and near the buttons), in-built icons, how selected items, loading bars and a way to input a number look.
I would like to work on a design for an alarm clock, weather app, timer and other useful utilities, if you wa

[2021-10-04 12:08] simonmicro commented on #152
Good question... I have no idea!

Next session I plan to rework the current UI class to manage the rendering pipeline and also to allow "fullscreen progress-bars" (useful also in other areas). I think I'll add stuff like drawing some elements for that to it - but we'll see...

[2021-10-10 16:18] simonmicro opened #162 "Implement sleep preperations"
When the watch goes to (deep) sleep we are currently not sending all connected sensors (BMA, GPS, ...) also to standby. We should probably do that...

[2021-10-12 05:38] schl3nk3 opened #163 "anologRead() while Wi-Fi is enabled genererates ESP_ERR_TIMEOUT (by updating power statistics)"
In the current develop branch is a commit [d651a358a66ccb969270b7b530c4ce525f326d3e](https://github.com/Open-Smartwatch/open-smartwatch-os/commit/d651a358a66ccb969270b7b530c4ce525f326d3e) added in #149 which leads to error messages when using Wi-Fi inside an app.

[code]

I found this error comes from reading the GPIO25 (osw_pins.h: B_MON) inside the [power.cpp](https://github.com/Open-Smartwatch/

[2021-10-13 09:34] #163 closed, assigned to simonmicro

[2021-11-03 00:29] simonmicro commented on #161
Finished.

[2021-11-03 00:29] #161 closed

[2021-11-03 00:36] simonmicro opened #168 "Unify console handling & logging"
All the logging should be centrally done through a thread-save system (including source, severity information) - also allowing us to buffer messages to show them inside e.g. a web console. Also add some commands to interact with the watch - e.g. to set the SSID/PWD or... Well, the time.

Maybe even include some form of...
[code]

[2021-11-04 17:11] simonmicro commented on #162
- [ ] add setup(fromLightSleep) -> hal
- [ ] add stop(toLightSleep) -> hal
- [ ] integrate service manager with setup/stop
- [ ] unified setup/stop methods -> hal
- [ ] remove unused setop() from osw ui
- [ ] migrate random seed setup to hal setup
- [ ] remove current setup debug msgs
- [ ] rewrite main to utilize new setup()
- [ ] rewrite hal power to call stop() respectively
- [ ] merge hal powe

[2021-11-04 21:12] #162 closed

[2021-11-07 14:09] HerrAugust opened #169 "Battery duration"
Hello, I bought the smartwatch light version (without GPS) and I will use one of the two batteries:

1. https://es.aliexpress.com/item/4000293204820.html
2. https://a.aliexpress.com/_mrvOz8P

Can anyone tell me about the estimated battery duration when the smartwatch has:

1. screen turned off
2. BLE connected all the day to an Android v8 smartphone (to received message and email notifications)
3.

[2021-11-18 20:05] #159 closed

[2021-11-26 19:00] OneGneissGuy opened #174 "Builds started failing due to a change in Adafruit BusIO library"
# What is not working?
The source code will not compile successfully in PlatformIO.

# How to reproduce this
Steps to reproduce the behavior:
1. Switch to Develop branch
2. Follow installation  instructions in README.md
2. Compile source for OpenSmartwatch OS in PlatformIO
3. See error below:
[code]

# What should happen instead?
The source should compile successfully.

# Environment
- Light Editi

[2021-11-26 23:03] simonmicro commented on #174
Thank you for your fix!

[2021-11-26 23:03] #174 closed

[2021-11-29 23:24] RuffaloLavoisier opened #176 "Step counter"
# What is not working?
A clear and concise description of what the bug is.
[code]
# How to reproduce this
Steps to reproduce the behavior:
1. upload ***`OSW-OS - develop`***
2. ***`Run the step count.`***
3. ***`waiting for tomorrow.`***
4. ***`See error`***

# What should happen instead?
A clear and concise description of what you expected to happen.

# Environment
- **Model** [Light Edition 3.3]

[2021-11-30 11:11] HerrAugust opened #177 "Battery life"
Hello,

Does anyone know how long the smartwatch last with these settings?

- BLE kept enabled all the time and connected to my Android smartphone
- Wifi kept disabled all the time
- screen kept normally all the time and only activated on notifications from the smartphone

An estimation based on your experience is fine!
Thank you a lot!

[2021-11-30 12:36] uvwxy commented on #177
See https://github.com/Open-Smartwatch/open-smartwatch.github.io/issues/15

[2021-11-30 20:49] simonmicro commented on #176
Does the watch perform a full reset every day after midnight (and waking up from light/deep sleep)? Because for me everything works perfectly since Sunday using light sleep (maybe deep sleep is a problem - I have a feeling?)...

Could you try to catch the **full** logs before (during) and after next midnight during wakeup? So we could try to get an idea what is going on? Also I am running on 08c73

[2021-11-30 22:28] RuffaloLavoisier commented on #176
@simonmicro I'll check it out today. Do you have a guide for the upload process? before clean or factory reset firmware(or based little test code).. I always just upload it, but I don't know if this is the wrong way.

[2021-12-01 19:59] RuffaloLavoisier commented on #176
[code]

[2021-12-02 01:20] simonmicro commented on #176
You describe the correct behavior - the current step count never comes from the cache, but instead is being read from the chip. Only when the day changes we are applying the current step count to the cache and write it back as the history (and then resetting the chip). Yes, this means picking up the watch at 12 o'clock will cause all the steps before its first activation also be counted to yesterd

[2021-12-02 04:11] RuffaloLavoisier commented on #176
This is some logs after using debugging syntax in the watch face and activating the sensor properly.
[code]
And after a day, whether the value is **not transferred to yesterday** or **initialized becomes** as follows.
[code]
Also, at this time, looking for where `3` comes from. A day later, `3` was recorded in the total even though the sensor was not operated.

[2021-12-02 10:22] datitzer opened #180 "Display won't come on/stay on after enablng SERVICE_BLE_COMPANION"
# What is not working?
Enabling SERVICE_BLE_COMPANION in config.h results in display issues where the display briefly comes on but goes to black.

# How to reproduce this
Steps to reproduce the behavior:
1. uncomment and set SERVICE_BLE_COMPANION to '1' in config.h
2. build and upload firmware to open smartwatch
3. detach USB and touch reset button at least once to bring up watch
4. observe brief

[2021-12-06 18:27] MichaelAllenHardeman commented on #180
I have this exact same problem. I'm attempting to debug it a bit but I've never done this before. When I enable `SERVICE_BLE_COMPANION` and open the Monitor Serial IO as I flash the OS to the device I see this:

[code]

[2021-12-06 18:55] MichaelAllenHardeman commented on #180
I tried using 3_2 env, the 3_3 env, and the 4_0 env. they all fail with an unhandled excepetion.

[2021-12-06 20:56] uvwxy commented on #180
Short Answer: BLE does not work.
Long Answer:

The BLE companion was added without testing a while ago.

What I have mentioned a couple of times on discord: the OSW does not have enough RAM to run the BLE Companion and the Display with a full buffer.
BLE leaves 80kb RAM, but we need 120kb RAM for the display data.

You are most likely running into seg faults / memory exceptions.

This is not a bug

[2021-12-06 20:56] #180 closed

[2021-12-06 20:56] #177 closed

[2021-12-06 21:01] simonmicro commented on #180
Hey, I would leave this open as I plan to look further into it... :pleading_face:

[2021-12-06 21:22] datitzer commented on #180
Ahh. That explains the display issue.

Thanks, Paul.

On Mon, Dec 6, 2021 at 3:56 PM Paul Smith ***@***.***> wrote:

[2021-12-06 21:25] uvwxy commented on #180
In that case we'd need a full feature, not a bug ticket ;).

just to give you some more room to try this tech demo try calling `hal->disableDisplayBuffer();` after `hal->setup(...)`

[2021-12-07 08:07] uvwxy opened #181 "Feature: Bluetooth Sync/Connection"
The Bluetooth integration is currently a tech demo/exploration.

Known issues:
- https://github.com/Open-Smartwatch/open-smartwatch-os/issues/180

ToDo:
Everything.

[2021-12-07 08:13] #116 closed

[2021-12-09 18:54] simonmicro commented on #176
@RuffaloLavoisier could you recheck with at least commit 542922216a26e9557776711a6fac4c696a24019c ? I have added multiple sanity checks to prevent further undefined behavior...

[2021-12-10 00:30] RuffaloLavoisier opened #182 "Battery indicator disappear"
# What is not working?
A clear and concise description of what the bug is.

# How to reproduce this
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Follow :
insert `-D RAW_SCREEN_SERVER` in `platformio.ini` build_flag - Light Edition V3.2
build + upload
[code]
# What should happen instead?
A clear and concise description of what you expecte

[2021-12-10 19:14] simonmicro commented on #182
https://github.com/Open-Smartwatch/open-smartwatch-os/blob/23232eb4ab1dd44ad7aa45463de78a7c177c2958/src/overlays/overlays.cpp#L50

This is because we can not utilitze

[2021-12-10 19:15] simonmicro commented on #182
Just comment the check and watch what starts to happen. Spoiler: The ADC does not report _any_ realistic values anymore.

[2021-12-10 20:12] RuffaloLavoisier commented on #182
@simonmicro Yes, that's right. It looked like a bug, so I thought it was a problem with the code..but It's a hardware problem.

[2021-12-11 00:06] #182 closed

[2021-12-11 00:07] simonmicro commented on #182
I've specifically implemented a small delay until we disable the battery indicator, so you have at least a chance of reading it before we connect to WiFi :)

[2021-12-11 15:05] RuffaloLavoisier commented on #176
@simonmicro As a result, it works well. Thank you very much for your hard work .
One thing need to check is that if you check the clock at `23:59:55`, the number of steps today_box will move to tomorrow_box at `00:00:00`.  However, if you press the initialization button, it will reset normally. (If you check in the master branch, the number of steps will remain as it is, and only the pointer point

[2021-12-11 19:05] simonmicro commented on #176
Sure - makes sense, based on the current implementation. I guess I'll be able to fix it - we just have to execute the `setup()` code more regularly and with a cache to prevent excessive NVS interaction.

[2021-12-12 06:28] RuffaloLavoisier opened #183 "Inactive Time Alerts on Open-smartwatch"
## Info
<img src="https://images.samsung.com/is/image/samsung/assets/au/support/mobile-devices/disable-smart-alarm-on-samsung-watch/1.png?$ORIGIN_PNG$">

It is related-[link](https://www.samsung.com/au/support/mobile-devices/disable-smart-alarm-on-samsung-watch/)

## Effect
Some smartwatch(samsung/apple/xiaomi..) are recommended to be active in users by observing that they sit or do not move for a

[2021-12-23 19:02] simonmicro commented on #176
Last problems are now fixed on `develop` (not the problem mentioned ↑).

[2021-12-23 19:02] #176 closed

[2021-12-31 11:35] HerrAugust opened #184 "Version 5.0 with touch screen"
Hi!

Will Version 5.0 (*without* GPS) make use of Touch Screen? That would be very very useful!

Thanks!

PS: Any way to substitute it in Version 3.3?

[2021-12-31 11:41] uvwxy commented on #184
Currently the GPS edition is on hold until I heave learnt how to get a proper GPS signal.

[2022-02-05 01:52] Chris3000-byte opened #186 "Autosleep timer doesnt reset when button is pressed"
Hi,

I have some uncertainty about how the watch goes to autosleep. My expectation would be, that whenever I press any button, the time that remains to go to sleep resets to the Display timeout time.
But I found, that it only resets for the first app, that is registrated in the corresponding app switcher and also only when you press a button exactly at the time it would go to autosleep.

I found t

[2022-02-05 10:18] #13 closed

[2022-02-13 12:13] RuffaloLavoisier opened #188 "Reset Step Counter"
I think we need to designate and initialize a specific section of the step counter. (The beginning of the week, the beginning of the month)

[2022-02-17 20:43] simonmicro opened #190 "OSW-OS Emulator"
Well... See the work on branch `feature/emulator`. Add your ideas / wishes down in the comments!

_I'm working on this in my free-time, so do not expect any results soon :tm:_

![visualization](https://media.giphy.com/media/SQgbkziuGrNxS/giphy.gif)

[2022-02-17 20:56] simonmicro commented on #188
Fair point - I have seen #189 , but I do not think this would be fine with everyone. Could you add a config option to let the user choose at least between `Monday` / `Sunday` / `No reset`? This is because, some of my watches I'm not using very often and I would like to keep my "fitness-progress" :P . Additionally here in Germany the week starts on Monday.

Thanks in advance!

[2022-02-17 21:19] RuffaloLavoisier commented on #188
Good.. I see, Thank you

[2022-03-06 22:14] #188 closed

[2022-03-08 06:31] RuffaloLavoisier opened #193 "Rebirth of removed battery notification"
Currently, at least one button input is applied to check the remaining battery capacity in OSW.

Request to re-create the battery notification on the main screen so that you can check the battery notification with one movement.

* Is there a reason you removed the battery notification from the main screen?

[2022-03-08 06:44] RuffaloLavoisier opened #194 "Arrange the order of the main screen elements"
# What is not working?
A clear and concise description of what the bug is.

<img src="https://user-images.githubusercontent.com/66334969/157180770-16fde575-b0ac-463f-bd08-7b6c8d17615a.jpg" width="65%">

* Just , we need to arrange the order.(image sort)

# How to reproduce this
Steps to reproduce the behavior:

1. Until the number of steps in blue fills up half a lap.
2. When the minute hand is be

[2022-03-08 06:55] RuffaloLavoisier opened #195 "Show the better StepCounter"
<img src="https://user-images.githubusercontent.com/66334969/157182269-d5705f88-2c86-4a70-b039-3c3c996068a4.jpg" width="65%">

After a round, the color changes from blue.

In my opinion, it is better to do it in a form that is gradually not filled according to criteria. (e.g. 1 point increase in the first stage, 1 point increase in the 10 step after half a lap)

[2022-03-08 06:56] RuffaloLavoisier commented on #193
If it is approved, I will start implementing it.

[2022-03-08 06:56] RuffaloLavoisier commented on #194
If it is approved, I will start implementing it.

[2022-03-08 06:56] RuffaloLavoisier commented on #195
If it is approved, I will start implementing it.

[2022-03-10 07:57] RuffaloLavoisier opened #196 "Guide for beginners"
<img src="https://user-images.githubusercontent.com/66334969/157610598-a23b7773-885e-4dc5-b7ff-f2348129af02.jpg" width="70%">

It is difficult for ordinary users to upload firmware.  There may be difficulties even if follow README. To make it easier for more users to access the latest firmware, we suggest creating automated script (linux, mac, windows), or referring to how files are uploaded.

[2022-03-10 07:58] RuffaloLavoisier commented on #196
Anything, I'm looking for a different opinion.

[2022-03-13 10:26] #193 closed

[2022-03-13 11:17] #195 closed

[2022-03-17 11:09] RuffaloLavoisier opened #197 "Watchface-MIX"
<img src="https://user-images.githubusercontent.com/66334969/158962758-50406f3e-3979-47e6-ad96-b6152f45dbcf.gif" width="60%">

I would like to add a new `Watchface-MIX`.

Let me know if there's anything I need to pay more attention to.

* Watchface-MIX is Analog Watch + Digital Watch

[2022-03-17 15:21] simonmicro commented on #194
Approved.

[2022-03-17 16:12] RuffaloLavoisier commented on #197
@simonmicro It was developed by the [libraries repository](https://github.com/Open-Smartwatch/lib-open-smartwatch). I will organize the current code and open the PR within this week.

[2022-03-18 08:27] RuffaloLavoisier commented on #197
@simonmicro
See https://github.com/Open-Smartwatch/lib-open-smartwatch/pull/18

First, I added a virtual test development environment. Please check. I will add Watchface to the main repository today or tomorrow.

[2022-03-18 19:52] #194 closed

[2022-03-20 09:01] RuffaloLavoisier opened #200 "Step Counter cache problem and moving step of total"
<img src="https://user-images.githubusercontent.com/66334969/159154728-7283a6ce-849e-4a58-a7f6-b0610b94858f.gif" width="65%" >

# What is not working?
A clear and concise description of what the bug is.

Currently, the step counter is working normally, but there is a slight problem saving the steps after the day. I'm worried about this problem.

As far as I know, when i infer the height of the blu

[2022-03-20 09:12] RuffaloLavoisier opened #201 "Arc and Step-history color choice"
<img src="https://user-images.githubusercontent.com/66334969/159155433-85658cff-7734-4162-8b75-ed855097d29b.jpg" width="65%">

When I checked after solving the problem(https://github.com/Open-Smartwatch/open-smartwatch-os/issues/194), I found that it is difficult to check if the step history color and the Arc color overlap each other (if step history is small).

solve :  Is it better to add a sepa

[2022-03-20 22:15] RuffaloLavoisier commented on #201
And battery color topic..

[2022-03-23 06:28] RuffaloLavoisier commented on #152
@Kokofruits1
Hi, I'd like to carry out your idea. I would appreciate it if you could let me know the details.

[2022-03-23 12:08] RuffaloLavoisier opened #202 "Flash memory stable"
[code]
I solved the instability that has been raised by linking Bluetooth and Wi-Fi.
Secure stable flash memory space.

[2022-03-23 12:09] RuffaloLavoisier commented on #202
Ping @uvwxy @simonmicro

[2022-03-23 12:12] simonmicro commented on #202
1. No need to ping, at least I get the notifications anyways.
2. What are you talking about? What did you solve? How did you solve it? What were the symptoms in the first place?

[2022-03-23 12:13] RuffaloLavoisier commented on #180
Is this the beginning of a solution? #202

[2022-03-23 12:21] RuffaloLavoisier commented on #202
@simonmicro

That's right

Our chip capacity was relatively small to use Bluetooth and Wi-Fi at the same time.

So, as far as I know, we only use one , Bluetooth or Wi-Fi.

However, by modifying the build partitions, we have secured enough space to compile. Please make sure that what I did is worthwhile.

[2022-03-26 13:08] Kokofruits1 commented on #152
The app would download the data from the opensmartwach app, then using the calendar permission it would download about a week worth of events to the watch. If the app is never created it could use calDAV, but I have no idea how much space it would require.

Short pressing a button would move a page up or down and long pressing a button will bring the full view for the event. When in the full view

[2022-03-26 13:39] RuffaloLavoisier commented on #152
@Kokofruits1

1.Does scrolling only go to the next (future) schedule ?

2.One schedule in detail is full view (select==choice schedule)? is right?

[2022-03-30 09:36] RuffaloLavoisier commented on #197
Done.

[2022-03-30 09:36] #197 closed

[2022-03-30 10:24] simonmicro commented on #202
As this would kill off our OTA capabilities, I'm closing this for now...

[2022-03-30 10:24] #202 closed

[2022-03-30 10:24] RuffaloLavoisier commented on #202
Thanks

[2022-03-30 10:28] simonmicro commented on #200
Yes, this is known... Thanks for the report - will be fixed soon :tm:

[2022-03-30 10:32] simonmicro commented on #201
We should probably finally relocate the history bars on some watch faces. This will finally solve these problems...

[2022-03-30 10:36] RuffaloLavoisier commented on #201
So i will change color..

[2022-03-30 11:15] RuffaloLavoisier commented on #190
Amazing....... :smile:

[2022-03-30 11:16] simonmicro commented on #190
![image](https://user-images.githubusercontent.com/24966116/160822343-dfb46971-207c-4038-a6d2-11adaa75c546.png)

First progress :grin:

[2022-03-30 11:16] RuffaloLavoisier commented on #190
OMG..................................
I think programming is a creative technology that God has allowed.

[2022-03-30 12:15] RuffaloLavoisier commented on #200
This is a previous issue related to this function.
https://github.com/Open-Smartwatch/open-smartwatch-os/issues/176

[2022-04-02 11:32] RuffaloLavoisier commented on #201
<img src="https://user-images.githubusercontent.com/66334969/161381118-fbc5d18e-e4e9-4fd8-89d5-cacc4ff408b2.png" width="75%">

YOLO

[2022-04-03 05:50] RuffaloLavoisier opened #206 "Watchface - Dual time"
Dual-time would be a good tool for people living  at different timezone.

Instead of adding a new watchface, I think to implement additional  features to enable dual-time depending on whether you are a user or not in <Watchface analog>. Implement up to 2-3 different timezone (including the current region).

Please give me your opinion.

[2022-04-03 06:01] RuffaloLavoisier commented on #23
Is this still going on? How is the current situation?

[2022-04-04 10:32] RuffaloLavoisier opened #207 "Data information"
I would like to provide information to Watchface.

TO-DO:
---
* [x] Battery Notification (Arc or anything)
* [ ] Provides sunrise
* [x] Extend fitness app : https://github.com/Open-Smartwatch/open-smartwatch-os/pull/223
  * [x] Total distance
  * [x] Total calories consumed
  * [x] Total steps
* [ ] Draw tracking map (With GPS)

---
I think we can provide this kind of information at the current st

[2022-04-07 00:12] RuffaloLavoisier commented on #190
I think it would be good to have debug messages about ui emulator

[2022-04-07 13:12] simonmicro commented on #190
Yes, Serial emulation (for text) is also available. :)

[2022-04-08 16:15] RuffaloLavoisier opened #208 "Modify overlays part - Wi-Fi"
# What is not working?
A clear and concise description of what the bug is.

The reception sensitivity is displayed when the smartwatch is started, but it is not actually connected. I think it needs to be modified to show only when it is actually connected.

I think this part needs to be revised.

# How to reproduce this
Steps to reproduce the behavior:

Start smartwatch and watch overlays part.

#

[2022-04-09 04:25] RuffaloLavoisier opened #209 "Debugging message"
Marking the `time` and `date` of the `Serial.print` portion is expected to make it more effective for debugging.

Before
[code]
After
[code]

[2022-04-09 05:37] RuffaloLavoisier commented on #208
[code]

[2022-04-09 06:08] RuffaloLavoisier commented on #208
I found something interesting while analyzing the logs.

When initially activated, the Auto AP will operate regardless of whether it is connected or not. However, the page will not load. After a while, AutoAP seems to be disabled and connected to Wi-Fi. However, this is also not load.

[2022-04-10 13:20] RuffaloLavoisier commented on #206
<img src="https://user-images.githubusercontent.com/66334969/162618777-f2a50d88-1917-4cfa-a158-9832f555568a.gif" width="55%">

first attempt :laughing:

1. Marked a common second in the middle. remove it if it is unnecessary.

2. The thing that bothers me the most is the arrangement. How can I make the space between the two sides and the top?

## Why Digital Dual Time?

The reason why we use dual

[2022-04-10 22:16] simonmicro commented on #209
Duplicate / Part of #168

[2022-04-10 22:16] #209 closed

[2022-04-13 09:34] simonmicro commented on #208
This issue is caused by you enabling the screen-server, which was never properly ported into the service architecture. This is a "bug"...

[2022-04-13 09:34] #208 closed

[2022-04-14 10:28] mat942 commented on #190
This is great!! it could speed up dev so much for people without the physical device. Is there any chance we could add this to the docs on how to use it once its more stable (or is it already?)?

[2022-04-14 10:29] mat942 commented on #206
Love the idea! I would also perhaps reflect the timezone code somewhere. is there a way to store timezones in the watch (like favorites?) great reat feature, will definitely add it to my watch once released. Happy to help!

[2022-04-14 10:30] mat942 commented on #104
Hi guys! discussion on this has been pretty much frozen since summer. Has anybody advanced any steps?

[2022-04-14 10:33] mat942 commented on #98
Hi! @simonmicro I think it would be great to list the flags somewhere of what can be enabled and disabled. the #define SERVICE_WIFI 0 that paul mentions above is only know to those who take a look at this issue. maybe a page in the docs or something else could be a nice to have!

[2022-04-14 10:37] mat942 opened #212 "Progress log of features in branches"
Hi OSWers,

I was thinking we might want to start logging whats up with master or develop given we have no releases implemented:
- what features are present in that commit?
- what is in development?

I think this could be useful for people looking at the project at the different stages in time and also for returning users (like me) after a while AFK and not keeping up on discord.

Thoughts?

[2022-04-14 12:17] RuffaloLavoisier opened #213 "Shape of the seconds"
# What is not working?
A clear and concise description of what the bug is.

I think the shape of the seconds is strange.

# How to reproduce this
Steps to reproduce the behavior:

See `watchface-analog`.

# What should happen instead?
A clear and concise description of what you expected to happen.

Enter the correct parameters for the short and long sides of the seconds.
<img src="https://user-ima

[2022-04-15 03:29] RuffaloLavoisier commented on #212
Hi, there :hand:

if you look at the last commit or git log, you can see what we did.

It is also a good idea to indicate which features have been updated on a per-version basis periodically in a `OSW docs` or `readme.md`.

[2022-04-15 14:14] RuffaloLavoisier opened #215 "Watchface-Dualtime with Analog"
<img src="https://user-images.githubusercontent.com/66334969/163560309-d30deecb-c830-4251-b37a-40be2e9c0f2b.png" width="45%">

The minutes and seconds are the same, so only the Dual-time hours-tick is displayed. Dark color. *Question* : Then how do mark morning and afternoon(AM/PM)?

<img src="https://user-images.githubusercontent.com/66334969/163564414-c9f193b2-88ce-4416-8fe3-048e01e3c859.png" wi

[2022-04-15 18:57] simonmicro commented on #190
Sure thing! But currently I have (sadly) not enough time to continue it... , the f*ing `String`-class is not working properly, as it also has to be compatible to the `std::string` implementation and Arduino completely broke it... Brrr...

[2022-04-15 19:01] simonmicro commented on #98
Hmm, good point. Currently multiple flags are supported, some of which are listed in the `platformio.ini`... Could you create an issue inside the documentation repo for this? Maybe @RuffaloLavoisier could help me with collecting them (next meeting :wink: ?)?

[2022-04-15 19:04] simonmicro commented on #212
Okay. Let's introduce semver! We could add a `CHANGELOG.md` and call our current `master` `1.0.0`. So, when merging into `master`, the devs also have to parse the commits into a proper changelog and tag the commits... Possible - but is there any tool to enforce this? Otherwise I feel like it will be forgotten at some point...

[2022-04-15 19:05] RuffaloLavoisier commented on #98
Like it -  I marked add it to the next topic.

[2022-04-15 19:12] #213 closed

[2022-04-15 19:36] simonmicro commented on #215
:shrug:

How about a smaller text right above the clocks? This would give a neat face :smiley_cat:

:+1:

[2022-04-17 15:58] RuffaloLavoisier opened #217 "Improve the CI (FAST)"
It's not a long time, but we want to speed up and increase efficiency in the development process.
* if  end of coffee time then finish !
* [x] https://github.com/Open-Smartwatch/open-smartwatch-os/pull/219
* [x] https://github.com/Open-Smartwatch/open-smartwatch-os/pull/221

[2022-04-20 05:22] RuffaloLavoisier opened #220 "Upgrade Watchface app with Fitness app"
I am about to modify Watchface on a large scale. Watchface is now a part of the clock screen because it shows the number of weekly steps together. It will shows data of the day and minimal data in Watchface, and i would like the weekly walk count is exported to the fitness app to open it as an independent screen and visualize simple healthy data.

Please let me know if you have any opinions on thi

[2022-04-23 02:39] RuffaloLavoisier commented on #217
See #221

[2022-04-23 02:39] RuffaloLavoisier commented on #217
See #221

[2022-04-24 15:21] RuffaloLavoisier commented on #186
See #222

[2022-04-26 14:23] #186 closed

[2022-04-28 13:58] #217 closed

[2022-05-17 12:50] simonmicro opened #227 "[CI] Auto formatter"
Let's unify the coding style of this repo... I should have somewhere some scripts for that...

[2022-05-20 15:38] RuffaloLavoisier commented on #23
See https://github.com/Open-Smartwatch/open-smartwatch-os/pull/223

[2022-05-20 15:39] RuffaloLavoisier commented on #207
See https://github.com/Open-Smartwatch/open-smartwatch-os/pull/223

[2022-05-20 15:39] RuffaloLavoisier commented on #215
See https://github.com/Open-Smartwatch/open-smartwatch-os/pull/223

[2022-05-20 15:40] RuffaloLavoisier commented on #220
See https://github.com/Open-Smartwatch/open-smartwatch-os/pull/223

[2022-05-31 12:19] #220 closed

[2022-05-31 12:32] simonmicro commented on #23
What do you guys @crazycaleb2008 and @matti04 think? With the current `develop` branch @RuffaloLavoisier implemented everything beside goals. Should we close this issue or still keep it open?

[2022-05-31 12:58] #227 closed

[2022-05-31 13:13] #23 closed

[2022-05-31 23:24] crazycaleb2008 commented on #23
This looks great! Will have to bust out my osw to try it. It dosent matter to me if you keep it open or close 😜

[2022-05-31 23:54] RuffaloLavoisier commented on #23
@crazycaleb2008 Thank you for the idea. And I was able to create it.

[2022-06-09 01:43] RuffaloLavoisier opened #234 "Add Fallback Wi-Fi"
I would like to add a Fallback-SSID (`cafe`, `school`...) so that Wi-Fi is connected even if it's not my main place(`home`). (*Security is yours!*)

*  It maybe doesn't need, but using AutoAP every time seems cumbersome.

[2022-06-09 10:34] simonmicro commented on #234
This is also something I was thinking about! Go on, I think it is a good idea!

[2022-06-09 14:22] uvwxy commented on #234
I think so, too.

Maybe call it "Fallback SSID"?  Secondary would imply a possible third and so on. I'd be too lazy to implement more than a second tuple of ssid/pass 😉

[2022-06-09 14:25] RuffaloLavoisier commented on #234
I plan to save 2 more SSID. So a total of three

Ok, thanks 👍

[2022-06-09 14:57] RuffaloLavoisier commented on #235
This issue has already been resolved, so I will close it.

[2022-06-09 14:57] #235 closed

[2022-06-09 20:19] kekko7072 commented on #141
Hey I am a mobile app developer with flutter and I work full stack (server + front end), but I am not very skilled at electronics but I want to improve. I had your same idea, and it is exiting. I've abandoned the idea because my skill using and editing the firmware of the watch were very poor, but if you help me with the hardware/software of the watch I will be glad to develop the app. Last year I

[2022-06-09 22:35] RuffaloLavoisier commented on #141
@kekko7072
Hi, there
Is it possible to build OSW firmware now? Although there is not enough memory to use Bluetooth, it has been confirmed that it can be implemented. Personally, if you have a prototype, the pull request is always open.Please feel free to open a discussion

[2022-06-10 05:34] kekko7072 commented on #141
Hey @RuffaloLavoisier what do you mean for OSW?

[2022-06-10 05:41] RuffaloLavoisier commented on #141
Sorry, `Open-smartwatch` build !

[2022-06-10 15:34] simonmicro commented on #141
-> https://github.com/Open-Smartwatch/open-smartwatch-os/blob/bc08af49ac33bde2c81f463ee0a1be0812b8d388/src/services/OswServiceTaskWebserver.cpp#L291

[2022-06-13 00:15] simonmicro commented on #190
Heyho - I was so free and made some progress. I guess I'll be switching to SDL2 only (which makes the setup for devs easier as this is the only library needed) with ImGui. Here is a short demo :grin: :

https://user-images.githubusercontent.com/24966116/173259443-35e9a0a5-d7de-4e18-89ab-ab7cf86d7e3d.mp4

[2022-06-13 02:06] RuffaloLavoisier commented on #190
@simonmicro
LGTM

[2022-06-14 16:53] RuffaloLavoisier opened #241 "CI: Also test unused (but developed) build flags"
How about adding it to the CI list (`feature.yml`) to check the compilation process for features that are not supported by default?
[code]

[2022-06-15 13:34] RuffaloLavoisier commented on #207
It's time to restart this part.

[2022-06-15 20:10] simonmicro commented on #241
So you want to build every firmware in every language with every possible feature flag to determine which ones work and which do not? I do not think this is helpful, as I imagine exploding CI times!!! I think I did not understand your idea correctly.

[2022-06-15 21:19] uvwxy commented on #241
Building every combination for the develop branch would bog down the pullrequest to review/merge times

[2022-06-16 01:25] RuffaloLavoisier commented on #241
I think it would be good to add a way to check the error regarding the function flag, what do you think? I don't think it's necessary to compile all models in all languages, because the value has not already been set to in `*.ini` by default. We only want to check for abnormalities in the function.

[2022-06-16 01:31] RuffaloLavoisier commented on #241
I think we already know how to reduce the time, Maybe IMHO so it won't increase much.

[2022-06-16 10:16] simonmicro commented on #241
Okay, something goes wrong in this discussion. Let's try an other approach: I give you the following list of example devices and flags - could you than answer me a list of builds you would be running with your idea?

**Devices**
* DevA
* DevB

**Flags**
* FlagA
* FlagB
* FlagC
* FlagD

**Platforms**
* DevA(FlagA, FlagB)
* DevB(FlagA)

So, our current CI would build:
* DevA(FlagA, FlagB)
* DevB(Fla

[2022-06-16 10:48] RuffaloLavoisier commented on #241
The current CI is a `style-guide` and compile `all models` and `all languages`. I think it is my idea to suggest a way to test the currently undeclared but developed flag by adding the default model and the default language device here.
[code]
Did you understand? There was an error in expressing my opinion. I'm sorry.

[2022-06-26 13:36] AvdHdn opened #249 "Time running fast"
# What is not working?
I noticed the time on the watch running fast.
When synchronizing the time using wifi, the time is set correctly again.
On the debug screen I noticed 2 values for the seconds. The ESP32 value and the DS3231MA.
The ESP32 value is the one running fast.

# How to reproduce this
Steps to reproduce the behavior:
- Synchronize the time using wifi.
- Wait for any amount of time. The

[2022-06-28 14:11] #234 closed

[2022-06-28 14:43] simonmicro commented on #249
Could you checkout the branch `bug/espFleeingTime`, test that firmware and report if this helps?

[2022-06-28 18:56] AvdHdn commented on #249
I have uploaded the code onto my device.
First thing that had to happen was to synchronize the time using Wifi.
When connecting the watch to the network, a red square showed up on the left of the battery indicator.
From this point on, the updating of the screen was problematic.
Items show up from different screens etc.
When resetting the watch, these problems disappear.

It also seems to be that s

[2022-06-28 22:05] RuffaloLavoisier commented on #249
This is a `low-memory mode`. The screen is cleaned every 10 seconds

[2022-06-29 08:12] simonmicro commented on #249
@AvdHdn As @RuffaloLavoisier already pointed out, this little red icon is the low-memory mode, which is designed to provide a more stable experience with the (previously) crashy web interface. Turns out you need some RAM if you deal with modern browsers...

Furthermore, we did not change anything on the NTP part and for me it definitively works. I've just tested it on commit eb8231d . Could you re

[2022-06-29 09:55] RuffaloLavoisier commented on #249
NTP does not work in AP mode.

[2022-06-29 18:25] #241 closed

[2022-07-04 19:01] RuffaloLavoisier commented on #152
![1656467700699](https://user-images.githubusercontent.com/66334969/177206519-fbe9377d-b76b-4f4e-8f87-f2563c9b4de6.png)

First design 👍

[2022-07-05 13:23] RuffaloLavoisier opened #254 "NTP update error"
# What is not working?
A clear and concise description of what the bug is.

Appears when trying to update NTP. maybe 3 time in 10 time.

# How to reproduce this
Steps to reproduce the behavior:
1. Go to 'Wi-Fi connect'
2. Click on 'connect and update'

If nothing happens, repeat this process.

# What should happen instead?

Just update local time.

# Environment
- **Model** [e.g. Light Edition]
LE

[2022-07-10 03:12] RuffaloLavoisier opened #259 "Contribution Tutorial Guide for Beginners"
We need to create a *tutorial* for those who want to contribute, whether it's on the wiki or on the repository.

Like `CONTRIBUTING.md` and in Wiki `How to contribute?`

[2022-07-10 19:51] FranseFrikandel opened #260 "Attempting to connect WiFi crashes smartwatch."
# What is not working?
Watch crashes when attempting to connect to WiFi.

# How to reproduce this
With the watch connected to the PC, platform.io serial monitor running, following steps:
- Wake the watch
- Go to the configuration app
- Press the "Connect" button (top right)

At this point, the watch appears to reset and dumps me back at the watchface. The platform.io serial monitor also crashes. T

[2022-07-10 20:02] FranseFrikandel commented on #260
Looking at the errors that occur in serial monitor:
[code]

These ID's appear to match ID's that are set in `src/osw_config_keys.cpp`

ID "f" is on line 75, "n" on line 44, "i" on line 23.
Each of these seem like they should be set equal to config variables when looking into osw_config_keys.cpp. I believe these variables are also all configurable via the WiFi interface, and so presumably saved in

[2022-07-10 21:32] FranseFrikandel commented on #260
According to @simonmicro, errors are not related to the watch crashing, and this is simply insufficient power delivery causing the watch to crash as documented in https://open-smartwatch.github.io/resources/hardware/ under known problems.

[2022-07-10 21:32] #260 closed

[2022-07-11 19:53] simonmicro commented on #254
Maybe a bug - PLEASE add serial logs, because I've got a feeling in my gut, that this is caused by something logged there...

[2022-07-11 21:19] #259 closed

[2022-07-11 22:23] RuffaloLavoisier commented on #254
[code]

The default log does not detect any anomalies...

[2022-07-11 23:51] FranseFrikandel opened #264 "Allow using reduced WiFi power to improve stability"
As is well known, the current OSW hardware has insufficient power, which causes crashes during WiFi usage.

In my personal testing, it appeared reducing the WiFi transmit power made my watch crash a bit less abruptly, however it wasen't enough to get WiFi working. However it may be enough for some people to either get it to work in the first place, or to get WiFi operating more reliably.

Setting

[2022-07-12 06:53] uvwxy commented on #264
IIRC, lowering the cpu clock to 80MHz also improves things. Could you also give that a try? See `OswAppPowerDemo`

[2022-07-12 06:55] uvwxy commented on #264
For some it might be even less work to upgrade the hardware to fix it this:

xc6209 (3.3V) is my recommendation for U10

https://open-smartwatch.github.io/watches/light-edition/

[2022-07-12 07:16] RuffaloLavoisier commented on #264
https://github.com/Open-Smartwatch/open-smartwatch-os/blob/develop/src/apps/_experiments/power_demo.cpp

[2022-07-12 10:10] uvwxy commented on #264
My bad, I got the parts mixed up: replacing it with a `ME6211` will do the trick.

XC6209 is indeed the part that is limited to 300mA

[2022-07-12 10:27] simonmicro commented on #254
So the issue occurred at?

There should be no such problem... Maybe the function inside `esp32.cpp` https://github.com/Open-Smartwatch/open-smartwatch-os/blob/2d9384ed69ba354fe81a7487a306ae90ad75ebe1/src/devices/esp32.cpp#L54 is broken because it does not properly initialize the struct to zero before using it?

[2022-07-12 10:57] RuffaloLavoisier commented on #264
There is also a way to exclude unused developed feature.

[2022-07-12 11:19] RuffaloLavoisier commented on #254
<img src="https://user-images.githubusercontent.com/66334969/178478103-4989c0af-9a1d-4491-87fd-c9c737de35cf.jpg" width="45%">
This is ERROR NTP update
<img src="https://user-images.githubusercontent.com/66334969/178478111-02384d78-ff3c-44df-9a70-c96958e5f835.jpg" width="45%">
This is My local-time

[2022-07-12 12:27] uvwxy commented on #264
@simonmicro sounds good to me.

For historical purposes:
<img width="1218" alt="Screenshot 2022-07-12 at 14 23 32" src="https://user-images.githubusercontent.com/930238/178489040-2372b5dc-0b35-4411-b5cd-16bf409df0cd.png">

<img width="825" alt="Screenshot 2022-07-12 at 14 24 26" src="https://user-images.githubusercontent.com/930238/178489062-e565e8fd-5a4f-409a-8027-d43bbb71af9c.png">

Another idea

[2022-07-12 14:00] FranseFrikandel commented on #264
The WiFi working or not is probably just down to plain luck. Manufacturing variations in both the ESP's and the LDO's on the watch probably just mean some pairs work well and others don't. I am kind of doubtful joining LDO's is going to work, I believe you'd normally add a small resistance to the output of the LDO before the point you join them to prevent small output voltage differences causing i

[2022-07-12 16:49] uvwxy commented on #264
Yeah, scrap the parallel LDO idea 🧠💨

[2022-07-17 07:53] RuffaloLavoisier opened #270 "Set password for Auto AP mode"
A random password in Auto AP mode means that the media(PC, Mobile..etc) does not remember the Auto AP SSID each time.
I'd like to configure watch to set and enable SSID passwords, so what do you think?

[2022-07-24 12:38] Gladox114 opened #275 "Light sleep with long button press bug"
So when enabling DO_LIGHT_SLEEP then there is a bug using the "Really really long button press".

Whats the problem?
When trying to light sleep over this button press then the next App gets cycled.

A Showcase of this problem.
https://imgur.com/a/aDOuWCa

How to reproduce?
Get the newest version.
enable DO_LIGHT_SLEEP in config or in the web interface.
try to light sleep using the "Really really l

[2022-07-24 12:54] RuffaloLavoisier commented on #275
@simonmicro It's a very interesting. Could it be a hardware problem?

[2022-07-24 15:23] Gladox114 commented on #275
@RuffaloLavoisier
Could you not recreate it?

I mean I tried to follow the code and in my understanding. The code allows it to do that.

Following the code from [switcher.cpp in its loop](https://github.com/Open-Smartwatch/open-smartwatch-os/blob/bc08af49ac33bde2c81f463ee0a1be0812b8d388/src/apps/main/switcher.cpp#L23), we can see that _doSleep will be true when _btn aka BUTTON_1 is held down long

[2022-07-24 17:08] simonmicro commented on #275
Hey, thanks for the bug report - no, @RuffaloLavoisier this is not a hardware bug. As @Gladox114 explained pretty nice, its a "feature" inside the app switcher.

@RuffaloLavoisier would you care to patch this? I'm pretty full atm and won't be able to resolve this until the week after next week.

@Gladox114 Thanks again - sorry for closing the first issue, I think there was a miscommunication 😅

[2022-07-24 17:23] RuffaloLavoisier commented on #275
@Gladox114 I will review it within this week. Re-open #272

[2022-07-25 19:27] RuffaloLavoisier commented on #275
@Gladox114
Merged, Thank you for your contribution. ! To 1bc59a7b381165ac094aee8aaebdcccb8d59bacc

[2022-07-25 19:27] #275 closed

[2022-07-25 21:15] RuffaloLavoisier commented on #270
Re-open if necessary.

[2022-07-25 21:23] #249 closed

[2022-07-25 21:23] #254 closed

[2022-07-25 21:27] #183 closed

[2022-07-26 17:30] Lorenzosciacca commented on #264
I don't know if i can help, but this is my personal experience related to Wi-Fi problems.
I'm currently using the version 3.2 from lilygo and the code of the commit [bc08af4]. Everything seems to be ok while connecting to the Wi-Fi, both in AP e client mode. Initially i was able to enter the index page and the update page, but not the config page. While i was trying to access the config page the w

[2022-07-31 16:24] RuffaloLavoisier commented on #152
Typically supported is the color, name, and time of the plan that you set in your calendar. This is limited to the Android I use, but I would appreciate it if you could check what information is displayed another mobile devices.

[2022-07-31 16:28] RuffaloLavoisier commented on #152
Also, if you want to check your week's schedule, it's common, efficient, and in practice to check it on mobile. You can check only TODAY schedule on the watch. What is currently implemented is a simple framework and a sample.

[2022-08-07 01:16] #152 closed

[2022-08-10 14:02] #270 closed

[2022-08-10 14:03] RuffaloLavoisier commented on #270
Done, see #282

[2022-08-24 18:12] simonmicro commented on #207
@Lorenzosciacca I think this is a GREAT idea and - from the looks - beautiful implementation! I think using openweather is OK, as e.g. https://github.com/sqfmi/Watchy/blob/5690db077f5c99c7823cb652009bc260605b231f/examples/WatchFaces/7_SEG/settings.h#L6 is also doing that. I'm very impressed!

[2022-08-24 23:05] RuffaloLavoisier commented on #207
@Lorenzosciacca If you want, could you implement this weather part?

[2022-08-25 17:46] Lorenzosciacca commented on #207
@simonmicro  thank you!
@RuffaloLavoisier , of course, it will be a pleasure for me.

[2022-08-25 21:42] RuffaloLavoisier commented on #207
@Lorenzosciacca
Thank you in advance ☺

[2022-09-08 22:24] simonmicro commented on #190
Latest update on our work... soon :tm:

![Screenshot from 2022-09-09 00-22-14](https://user-images.githubusercontent.com/24966116/189236360-71df4ed8-bf34-4014-a3a7-93ee2f3c9e05.png)

[2022-09-10 10:43] Lorenzosciacca commented on #207
flash update: this is how the app looks like now. While i was playing with the smartwatch the screen died, it’s the usual problem but this slowed down everything. In the next future, when I will be able to do a couple of tests, I will post everything.

https://user-images.githubusercontent.com/60114811/189479755-361d1fea-7265-46be-91ac-520c34bfa87e.mp4

[2022-09-11 16:54] #190 closed

[2022-09-12 02:47] RuffaloLavoisier opened #291 "Multi-Button-Support (overlay menus!)"
We would like to collaborate buttons to implement various functions.
[code]
* Multi BTN support from Emulator, OSW HW
* Icon Automatic disappear
* Setting background circle

[2022-09-14 23:33] mat942 commented on #207
Looks great, love the UI!

[2022-09-21 13:56] ich2a opened #293 "Calculator app"
I created a calculator app. You can try it at https://github.com/ich2a/open-smartwatch-os/tree/develop.
If anybody is interested, I would love to contribute with that app.

![OswAppCalculator](https://user-images.githubusercontent.com/80181603/191523403-0e654765-8b65-4f58-ae35-cd6cd6475614.jpg)

[2022-09-21 14:01] RuffaloLavoisier commented on #293
Hi there, LGTM.
If you want to contribute, open the PR to merge :)

[2022-09-27 12:24] simonmicro opened #296 "[FEATURE] Extend HAL to support setting display brightness without saving..."
...it to the NVS. Maybe even allow apps to have a member variable to override the screen brightness -> so the `OswUI` can manage and reset it as needed.

[2022-09-27 22:31] Lorenzosciacca commented on #207
The app is available [here](https://github.com/Lorenzosciacca/OSW_weather).
Note: there is a bug, when i try to perform the GET to openweather i can't enable the wifi directly from the app, instead it's necessary to enable the WiFi from the webserver/time-update app. I don't know the exact reason, it also may be related to the usual WiFi problems.

[2022-09-27 22:37] RuffaloLavoisier commented on #207
@Lorenzosciacca Could you open the pull request?

[2022-09-27 22:43] Lorenzosciacca commented on #207
Yes, i can, now i'm not at home, tomorrow morning i can do It for sure. On develop right?

[2022-09-27 22:55] RuffaloLavoisier commented on #207
Yes, correct

[2022-09-28 19:33] ameharoo opened #300 "String.h conflicts with string.h"
# What is not working?
The emulator does not compile due to case-insensitive filesystem on Windows. Conflict between string.h and [String.h](https://github.com/Open-Smartwatch/open-smartwatch-os/blob/master/emulator/include/String.h).
in file `emulator/lib/ArduinoJson/src/ArduinoJson/Strings/Adapters/RamString.hpp:26:21`

# How to reproduce this
Steps to reproduce the behavior:
1. Build emulator.r

[2022-09-29 17:01] simonmicro commented on #300
So the problem is that we want to include `string.h`, but Windows instead includes `String.h`? Could you post the build error?

Problem is, that the emulator MUST overwrite the Arduino-File `String.h` with its custom implementation and well, the name is therefore fixed... Maybe you can add a flag to be case sensitive?

[2022-10-03 08:50] simonmicro commented on #142
Merged with #190 - still needs some love by @uvwxy (GPS_EDITION), but for now done :partying_face:

[2022-10-03 08:50] #142 closed

[2022-10-07 17:51] FranseFrikandel opened #307 "NTP time updating doesn't work due to time drift compensation."
# What is not working?
PR #263 appears to break NTP network update. The time is not updated when pressing the update button when connected to WiFi.

It appears that immediatly as the time is set, the automatic time drift detection pulls the time back from the onboard RTC, prevent time from being effectively updated. Commenting out the code that keeps the ESP32 internal clock in sync appears to fix

[2022-10-09 20:18] simonmicro commented on #307
Okay. That's the bug! I noted it, but not cared to investigate... My bad!

[2022-10-10 11:41] #307 closed

[2022-10-11 09:28] simonmicro commented on #300
Closing this issue, as I need at least some logs, otherwise I can't do anything...

[2022-10-11 09:28] #300 closed

[2022-10-11 11:49] simonmicro commented on #307
@RuffaloLavoisier No need to close fixed issues manually -> https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue

This would allow users to see what is not fixed on `master` and by following the issue-history see potential fixes on `develop`.

[2022-10-11 11:55] simonmicro commented on #212
Okay, the current "policy" is that we tag our `master` on updates and create a respective release on GitHub. I know this is not a `CHANGELOG.md`, but I feel this is good enough.

@mat942 Would this satisfy your request (in that case pls close this issue), or should we try to improve this?

[2022-10-11 11:58] #212 closed

[2022-10-31 13:23] codermery opened #323 "About the Bluetooth feature"
Hi,
I have a "LIGHT EDITION" smartwatch. However, I want to activate the Bluetooth feature over the "ESP32 Pico D4" and scan. But I am getting some errors. If you have an open source bluetooth code available, I'd like to try it.
I will be happy if you can help me.
Kind regards...

[2022-11-02 21:34] simonmicro commented on #323
1. BLE is alpha at best. We are working on it in the background, but there if nothing official yet. (Psst, try an other BLE lib - the current code is too fat to use).
2. What errors? Care to share some logs?
3. ... #141 ?

[2022-11-05 17:22] #323 closed

[2022-11-20 23:27] darigovresearch opened #326 "Add license to readme"
May be helpful to add a License section to the readme with a link to the license file

[2022-11-20 23:36] darigovresearch commented on #326
Pull request https://github.com/Open-Smartwatch/open-smartwatch-os/pull/327 would resolve this issue if merged

[2022-11-25 07:26] RuffaloLavoisier opened #328 "CI: fix warning"
Deprecated grammar needs to be changed.

https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/